.dashboard.mobile {
  width: 100%;

  .logo {
    text-align: center;
    margin: 1vh;
    position: absolute;
    width: 100%;
    top: 0;
  }

  .content {
    iframe {
      border: none;
      width: 100%;
      height: 100%;
      position: fixed;
      width: 100%;
      border: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    .tab {
      &.active {
        display: initial;
      }
      display: none;
    }
  }

  .menu {
    width: 100%;
    height: 46px;
    border-radius: 1px;
    border: solid 1px #d5d4d4;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;

    button {
      &.active {
        img.active {
          display: initial;
        }

        img:not(.active) {
          display: none;
        }
      }

      img.active {
        display: none;
      }
    }
  }

  button {
    border: none;
    background: none;
    outline: none;
  }
}

.log-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;

  .prompt {
    width: 207px;
    font-size: 18px;
  }

  .input {
    width: 126px;
    height: 77px;
    border-radius: 27px;
    background-color: #dedede;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #477058;
    margin: 10px;
  }

  .next-button {
    position: absolute;
    bottom: 60px;
    right: 20px;
  }
}
