.alert {
  z-index: 3;
}

.mobile {
  $rootup-green: #105b2f;
  width: 85%;
  font-family: Raleway, sans-serif;
  color: #5f5f5f;

  h2 {
    text-align: center;
    font-size: 24px;
  }

  input,
  select {
    height: 41px;
    border-radius: 3px;
    background-color: #f9f9f9;
    font-size: 16px;
    width: 100%;
    padding: 11px;
    margin-bottom: 24px;
    border: none;
  }

  button,
  input[type="submit"] {
    height: 47px;
    border-radius: 6px;
    background-color: $rootup-green;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none;
  }

  .error {
    display: none;
    margin-top: -20px;

    .message {
      display: inline-block;
      position: relative;
      font-size: 12px;
      color: #ff3b30;
    }
  }
}

button.bare {
  background: none;
  outline: none;
  border: none;
  color: inherit;
}
