<div class="modal changes-saved-popup" id="verify-email" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&#x2715;</span>
        </button>
        <h2 class="heading">A verification email has been sent, please check your email to verify your new email address.</h2>
        <h2 class="heading">Didn't get a verification email?</h2>
        <%= form_for(resource, as: resource_name, url: user_confirmation_path(user: {:email => current_user.unconfirmed_email}), html: { method: :post}) do |f| %>
          <%= f.submit "Resend email", class: "btn save-changes-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
