language: ruby
rvm:
  - 2.5.1
cache: bundler
services:
  - postgresql
before_script:
  - cp config/database.yml.travis config/database.yml
  - psql -c 'create database turninggreen_test;' -U postgres
  - bundle exec rake db:create
  - bundle exec rake db:migrate RAILS_ENV=test
script: bundle exec rspec  

