<div class="modal progress-log-popup show" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&#x2715;</span>
        </button>
        <h2 class="title">Log Your Progress!</h2>
        <h5 class="instructions">You have logged 56 metric since starting this challenge! To see more details on your previous logging records move the colored arrow. Great job on making a difference!</h5>
        <div class="progress">
          <span>Nothing logged yet. Let’s start recording our actions</span>
          <div class="progress-bar w-0" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="arrow_box">
          <h2 class="question">metric question</h2>
          <input type="text" name="" value="" class="answer">
          <button type="button" name="button" class="record">Record</button>
        </div>
      </div>
    </div>
  </div>
</div>
