<div class="dashboard">
  <div class="global_impact">
    <h2>Global Impact</h2>
    <div class="global_impact_content"></div>
  </div>

  <div class="current_challenges">
    <h2>Current Challenges</h2>
    <div>
      <div class="current_challenges_box"></div>
      <div class="current_challenges_box"></div>
      <div class="current_challenges_box"></div>
      <div class="current_challenges_box add_challenges"><span>&#x2b;</span></div>
    </div>
  </div>

</div>
