<% content_for :navbar do %>
  <%= render 'layouts/dashboard_navbar' %>
<% end %>

<div class="dashboard">
  <div class="global_impact">
    <h2>Global Impact</h2>
    <div class="global_impact_content"></div>
  </div>

  <div class="current_challenges">
    <h2>Current Challenges</h2>
    <div>
      <div class="current_challenges_box thumbnail">
        <div class="current_challenges_overlay overlay">
          <div class="overlayText">challenge name</div>
        </div>
      </div>
      <div class="current_challenges_box thumbnail">
        <div class="current_challenges_overlay overlay">
          <div class="overlayText">challenge name</div>
        </div>
      </div>
      <div class="current_challenges_box thumbnail">
        <div class="current_challenges_overlay overlay">
          <div class="overlayText">challenge name</div>
        </div>
      </div>
      <div class="current_challenges_box thumbnail last">
        <div class="current_challenges_overlay overlay">
          <div class="overlayText">challenge name</div>
        </div>
      </div>
      <br>
      <a href=<%= themes_path %>><div class="new_challenge current_challenges_box">Click to take on a challenge!</div></a>
    </div>
  </div>

</div>
