<div class="landing-page">
  <div class="header border">
    <h2 class="hook">Want to make a difference?</h2>
    <h4 class="answer">you're at the right place.</h4>
    <a href="<%= new_user_session_path %>" class="button">Sign In</a>
    <a href="<%= new_user_registration_path %>" class="button">Register</a>
  </div>
  <div class="impacts border">
    <h2 class="heading">Impacts being made through our app</h2>
    <div class="pictures">
      <div class="picture"></div>
      <div class="picture"></div>
      <div class="picture"></div>
    </div>
  </div>
  <div class="about-us border">
    <h2 class="heading">Who are we and how can we help you</h2>
    <p class="about-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. </p>
  </div>
  <div class="about-app border">
    <h2 class="heading">What does our app entail?</h2>
    <div class="pictures">
      <div class="picture"></div>
      <div class="picture"></div>
    </div>
    <i class="fas fa-chevron-right right-arrow"></i>
  </div>
</div>
