<div class="landing-page">
  <div class="header border">
    <h2 class="hook">Sustainability made easy for you</h2>
    <h4 class="answer">Build habits one action at a time</h4>
    <a href="<%= new_user_session_path %>" class="button">Login</a>
    <a href="<%= new_user_registration_path %>" class="button">Sign up</a>
  </div>
  <div class="impacts border">
    <h2 class="heading">Join the rootup community of</h2>
    <div class="pictures">
      <div class="picture">X members in Y states (US) who’ve completed Z challenges.</div>
      <div class="picture">X members in Y states (US) who’ve completed Z challenges.</div>
      <div class="picture">X members in Y states (US) who’ve completed Z challenges.</div>
    </div>
  </div>
  <div class="about-us border">
    <%# <h2 class="heading">Who are we and how can we help you</h2> %>
    <p class="about-text">
      We’re a group of high school and college students, calling you to action. We hear talk about climate change around
      school and in the news, and we experience its impact. We wanted to do something about it; so we built
      rootup.<br><br>
      rootup asks you to do more than just care for the environment; we ask you to care for your health and wellbeing.
      rootup is built to equip you with knowledge, lead you to action, and activate you to shape your lifestyle. We want
      you to feel empowered and believe that you, regardless of your age and background, have the power to initiate
      change in your community. This isn’t a solo effort; we’re in this together, so let us know if we’re not doing a
      good job. <br><br>
      We guide. <strong>You take action.</strong> <br>
      We’ve compiled >60 challenges across 10 themes for you. So, you can choose which areas of your lifestyle you want
      to focus on. <br><br>

      We educate. <strong>You learn.</strong> <br>
      We share why the challenges matter and how they impact you + the environment, so you can own your actions and tell
      people, “I’m doing this because x, y, and z.”<br><br>

      We support. <strong>You impact communities.</strong><br>
      Everyone’s actions --no matter how seemingly small-- matter. We show you how with the progress you’ve
      made.<br><br>
    </p>
  </div>
  <div class="about-app border">
    <h2 class="heading">What does our app entail?</h2>
    <div class="pictures">
      <div class="picture"></div>
      <div class="picture"></div>
    </div>
    <i class="fas fa-chevron-right right-arrow"></i>
  </div>
</div>