<div class="landing-page">
  <div class="header">
    <h2 class="hook">Sustainability made easy for you</h2>
    <h4 class="answer">Building habits one action at a time</h4>
    <a href="<%= new_user_session_path %>" class="button">Login</a>
    <a href="<%= new_user_registration_path %>" class="button">Register</a>
  </div>
  <div class="impacts">
    <h2 class="impacts-heading">Making Change Accessible</h2>
    <p class="impacts-text">Sustainability isn’t just about protecting the environment; it’s about caring for your health and wellbeing.</p>
    <p class="impacts-text">We built rootup to equip you with knowledge and lead you to action. We want you to feel empowered and believe that you have the power to initiate change in your community. It doesn’t matter your age, wealth, or background. We’re in this together and here to support you!</p>
  </div>
  <div class="about-us row">
    <div class="about-text col">
      <p>
        We guide. <strong>You take action.</strong> <br>
        We’ve compiled >60 challenges across 10 themes for you. So, you can choose which areas of your lifestyle you want
        to focus on. <br><br>

        We educate. <strong>You learn.</strong> <br>
        We share why the challenges matter and how they impact you + the environment, so you can own your actions and tell
        people, “I’m doing this because x, y, and z.”<br><br>

        We support. <strong>You impact communities.</strong><br>
        Everyone’s actions --no matter how seemingly small-- matter. We show you how with the progress you’ve
        made.<br><br>
    </p>
    </div>
    <div class="about-pic col-lg col-sm-12">
      <%= image_tag('mockvisual.svg') %>
    </div>
  </div>
</div>
