<div class="landing-page mobile">
  <%= image_tag "rootup-logo.svg", width:"200px" %>
  <div class="">
    <h2 class="heading">Climate action made easy</h2>
    <h3 class="subheading">building habits one action at a time</h3>
  </div>

  <div class="buttons">
    <button type="button" name="button" onclick="location.href='<%= new_user_session_path %>'">login</button>
    <button type="button" name="button" onclick="location.href='<%= new_user_registration_path %>'">sign up</button>
  </div>
</div>
