<body>
  <div id="navbar" >
    <ul class="navbarList">
      <li class="current" id="navMyFootprint"><a href="#welcomeScreen">My Footprint</a></li>
      <li class="current"><a href="#aboutAnchor">About</a></li>
      <li class="current"><a href="#dashboardAnchor">What/How</a></li>
      <li class="current"><a href="#interestedAnchor">Contact Us</a></li>
      <li class="current"><a href="/login">Login/Register</a></li>
    </ul>
  </div>
  <div id="welcomeScreen" class="fullScreen">
    <div class="screenWrapper">
      <div class="screenContent">
        <h1>Project Green Challenge</h1>
        <p>
          Lorem ipsum dolor sit amet, sed cu brute soleat, laoreet platonem et
          nam. At his eleifend constituto, et verear hendrerit scripserit vis.
        </p>
        <a class="actionButton">Get Started</a>
      </div>
    </div>
  </div>
  <span id="aboutAnchor" class="pageAnchor"></span>
  <div id="aboutScreen" class="fullScreen">
    <div class="screenWrapper">
      <div class="screenContent" id="aboutContent">
        <div id="aboutImageCont">
          <!--
               <img id="aboutImage" src="plant.jpeg">
          -->
        </div>
        <div id="aboutTextCont">
          <h3 id="aboutTitle">About</h3>
          <p>
            Lorem ipsum dolor sit amet, sed cu brute soleat, laoreet platonem et
            nam. At his eleifend constituto, et verear hendrerit scripserit vis.
            Et illud adolescens sea, sit at sanctus volutpat aliquando.
            At aperiri appellantur disputationi pri, in cum graeci audire,
            ei eos rebum laudem eligendi. Eos no dicat volumus fabellas.
          </p>
          <p>
            Alia diceret id eam, per eros timeam an. Nulla antiopam mea ad,
            sit cu reque platonem. No utinam offendit nec, in augue nihil qui,
            quo nibh vivendum scripserit ne. Amet falli elitr eu vis.
          </p>
        </div>
      </div>
    </div>
  </div>
  <span id="dashboardAnchor" class="pageAnchor"></span>
  <div id="dashboardScreen" class="fullScreen">
    <div class="screenWrapper">
      <div class="screenContent">
        <div class="carouselDiv">
          <div class="panel fade">
            <div class="panelImg">
              <!--
                   <img src="graph.jpeg">
              -->
            </div>
            <div class="panelText">
              <h3>Dashboard</h3>
              <p>
                Lorem ipsum dolor sit amet, quod vocent definiebas mei in,
                melius maiorum salutandi nec in. Sea nulla neglegentur eu,
                nostrud.
              </p>
            </div>
          </div>
          <div class="panel fade">
            <div class="panelImg">
              <!--
                   <img src="graph.jpeg">
              -->
            </div>
            <div class="panelText">
              <h3> Themes</h3>
              <p>
                Lorem ipsum dolor sit amet, quod vocent definiebas mei in,
                melius maiorum salutandi nec in. Sea nulla neglegentur eu,
                nostrud.
              </p>
            </div>
          </div>
          <div class="panel fade">
            <div class="panelImg">
              <!--
                   <img src="graph.jpeg">
              -->
            </div>
            <div class="panelText">
              <h3> Challenges </h3>
              <p>
                Lorem ipsum dolor sit amet, quod vocent definiebas mei in,
                melius maiorum salutandi nec in. Sea nulla neglegentur eu,
                nostrud.
              </p>
            </div>
          </div>
          <div class="panel fade">
            <div class="panelImg">
              <!--
                   <img src="graph.jpeg">
              -->
            </div>
            <div class="panelText">
              <h3> Rewards</h3>
              <p>
                Lorem ipsum dolor sit amet, quod vocent definiebas mei in,
                melius maiorum salutandi nec in. Sea nulla neglegentur eu,
                nostrud.
              </p>
            </div>
          </div>
          <a class="prev" onclick="navigate(-1)">&#10094;</a>
          <a class="next" onclick="navigate(1)">&#10095;</a>
        </div>
        <br>
        <div class="carouselDots">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
          <span class="dot" onclick="currentSlide(4)"></span>
        </div>
      </div>
    </div>
  </div>
  <span id="interestedAnchor" class="pageAnchor"></span>
  <div id="interestedScreen" class="fullScreen">
    <div class="screenWrapper">
      <div class="screenContent">
        <h3>Interested in our Mission?</h3>

        <a class="actionButton" href="#" id="signUpButton">Sign Up</a>
        <br>
        <a href="#" id="returningUser">Already have an account? Sign in here.</a>

      </div>
    </div>
  </div>
  <div class="footerScreen">

  </div>
</body>

<script>
 var slideIndex = 1;
 var panels = document.getElementsByClassName("panel");
 var dots   = document.getElementsByClassName("dot");
 showSlides(slideIndex);

 function navigate(n) {
   showSlides(slideIndex += n);
 }

 function currentSlide(n) {
   showSlides(slideIndex = n);
 }

 function showSlides(n) {
   if (n > panels.length) {slideIndex = 1}
   if (n < 1)             {slideIndex = panels.length}

   for (var i=0; i < panels.length; i++) {
     panels[i].style.display = "none";
   }
   for (var i=0; i < dots.length; i++) {
     dots[i].classList.remove("active");
   }
   panels[slideIndex-1].style.display = "flex";
   dots[slideIndex  -1].classList.add("active");
 }

</script>
