<div class="privacy-page learn-more container">
  <p class="text-center">
    <strong>The lowdown when rootup shares users’ work</strong>
  </p>
  <p>
    <strong>
      <span style="text-decoration:underline;">What does it mean when rootup “shares” my reflection and work?</span></strong>
  </p>
  <p>
    The data we want to share include identification and your reflections for your completed challenges.
  </p>
  <p>
    For
    <strong>identification</strong>, we would like to share:
  </p>
  <ul>

    <li>your first name

    <li>your state (if applicable)

    <li>your country
    </li>
  </ul>
  <p>
    For
    <strong>your reflections</strong>:
  </p>
  <ul>

    <li>your open-ended response

    <li>the cumulative numbers logged

    <li>the photo (if submitted)

    <li>the caption for photo above
    </li>
  </ul>
  <p>
    We may not share all of these components, but all the listed data above are open for sharing unless you tell us otherwise. For example, we may just share the open-ended response of your reflection, your name, and your location (state and country).
  </p>
  <p>
    <strong>
      <span style="text-decoration:underline;">Where does rootup share this information?</span></strong>
  </p>
  <p>
    We will share the above information on the rootup home page, throughout the rootup app (when applicable), the rootup Twitter, and rootup Instagram.
  </p>
  <p>
    <strong>
      <span style="text-decoration:underline;">How can I inform rootup I don’t want some or all of my data to be shared?</span></strong>
  </p>
  <p>
    <strong>To disallow us from sharing your name</strong>
    with your reflection,
    <strong>check</strong>
    the “I want to remain anonymous…” box on your settings page (under “privacy” >> “reflections”).
  </p>
  <p>
    <strong>To disallow us from sharing your location (state and country)</strong>
    with your reflection,
    <strong>UNcheck</strong>
    the “I give rootup permission to…” box on your settings page (under “privacy” >> “location”).
  </p>
  <p>
    To disallow us from sharing any part, a specific, and/or all your reflections, please email us.
  </p>

</div>
