<div class="privacy-page container">
  Last Updated: December 28, 2019
  <h2>rootup Privacy Policy</h2>
  <p>
    Rootup’s (“rootup”, “we”, “us”, “our”) mission to make change accessible is rooted in earning and maintaining your trust with us. We commit to communicating transparently and want you to be familiar with how we collect, use and disclose your
    Personally Identifiable Information (as defined below). This Policy describes our practices in connection with Personally Identifiable Information that we collect through the Site.
  </p>
  <p>
    This Policy does not address our practices regarding information that we collect through any website, or by any other means, other than through the Site; nor does this Policy govern the collection, use or disclosure of information by third parties.
    By using the Site, you agree to the terms and conditions of this Policy. If you do not agree to the terms and conditions of this Policy, please do not use the Site.
  </p>
  <p>
    We reserve the right to change this Policy without prior notice. You can determine when this Policy was last revised by referring to the “LAST UPDATED” legend at the top of this page. Any changes to our Policy will become effective upon our posting
    of the revised Policy on the Site. Use of the Site following such changes constitutes your acceptance of the revised Policy then in effect.
  </p>
  <p>
    <h4>1. What types of information does rootup collect from me?</h4>
  </p>
  <p>
    TG gathers two basic types of information through the Site: “Personally Identifiable Information” (or “PII”) and “Non-Personally Identifiable Information” (or “Non-PII”). Personally Identifiable Information is information that identifies a person as
    an individual. Non-Personally Identifiable Information is aggregated information, demographic information and any other information that does not reveal a person’s specific identity.
  </p>
  <p>
    We keep your PII private. We will not sell, rent, share, or otherwise disclose your personal information to anyone except as necessary to provide our services or as otherwise described in this Policy.
  </p>
  <p>
    <h4>1.1 Information you provide to us</h4>
  </p>
  <p>
    Upon registration, you provide PII (such as name, email, state if within US, country) to rootup. At the completion of each challenge, you have the opportunity to record your experience with completing a challenge (the “Reflection”). This Reflection
    asks for (i) your response to an open-ended question; (ii) a photo capturing your experience; (iii) a caption to the photo; and (iv) any progress you’ve made since the last time you logged progress for the challenge.
  </p>
  <p>
    <h4>1.2 Information collected by automatic means</h4>
  </p>
  <p>
    When you visit and interact with the Site, rootup and its third party service providers and business partners may collect Non-PII (for example, a catalog of the Site pages you visit). Non-PII is generally collected through the Site from five
    different sources: (i) environmental variables, (ii) cookies, and (iii) pixel tags and other similar technologies.
  </p>
  <p>
    <h4>1.2.1 Environmental Variables</h4>
  </p>
  <p>
    We and our service providers may also collect certain environmental variables, such as your timezone, MAC address, computer type (Windows or Macintosh), screen resolution, OS version, Internet browser, and Internet browser version. These
    environmental variables are collected by most websites, and can be used to optimize your experience on the Site.
  </p>
  <p>
    <h4>1.2.2 Cookies</h4>
  </p>
  <p>
    We and our service providers may use “cookies” in connection with the Site. Cookies are data that a web server transfers to an individual’s computer for recordkeeping and other purposes. Cookies are an industry standard used by most websites, and can
    facilitate users’ ongoing access to and use of a particular website; cookies do not cause damage to your computer systems or files. If you do not want information collected through the use of cookies, there is a simple procedure in most browsers that
    allows you to automatically decline cookies, or to be given the choice of declining or accepting the transfer of a particular cookie, or cookies from a particular website, to your computer.
  </p>
  <p>
    <h4>1.2.3 Pixel Tags
    </h4>
  </p>
  <p>
    We and our service providers may also use so-called “pixel tags,” “web beacons,” “clear GIFs,” or similar means in connection with Site pages and HTML-formatted e-mail messages to, among other things, track the actions of Site users and e-mail
    recipients and to compile aggregate statistics about Site usage and response rates.
  </p>
  <p>
    <h4>2. How does rootup use information collected from me?</h4>
  </p>
  <p>
    <h4>2.1 Personally Identifiable Information</h4>
  </p>
  <p>
    <h4>2.1.1 Challenge communications</h4>
  </p>
  <p>
    To remind you about information related to the challenges you’ve signed up to complete, we may email or text you. You may opt-in or opt-out in your account settings page. You can also change the frequency of these forms of communication in your
    account settings page.
  </p>
  <p>
    <h4>2.1.2 Data aggregation</h4>
  </p>
  <p>
    rootup may aggregate data we acquire about users. Non-PII, aggregated data may be shared with third parties.
  </p>
  <p>
    <h4>2.1.3 Administrative communications</h4>
  </p>
  <p>
    From time to time, in our sole discretion, we may use PII about you to send you important information regarding the Site, changes to our terms, conditions, and policies and/or other administrative information. Because this information may be
    important to your use of the Site, you may not opt-out of receiving such communications.
  </p>
  <p>
    <h4>2.1.4 Other communications</h4>
  </p>
  <p>
    Promotional emails. From time to time, we may use PII about you to inform you of products, programs, services and promotions that we believe may be of interest to you. If you do not wish to receive promotional e-mails from us, you may opt-out by
    changing your account settings. We will endeavor to comply with your request as soon as reasonably practicable.
  </p>
  <p>
    E-mails to Friends. We may provide functionality to permit you to send messages regarding Site-related content to a friend through the Site. If you wish to use this feature, you may be required to provide us with, and we may use, your friend’s e-mail
    address so that we can facilitate your sending of such message to your friend.
  </p>
  <p>
    <h4>2.2 Non-Personally Identifiable Information</h4>
  </p>
  <p>
    Because Non-PII does not personally identify you, we may use such information for any purpose. In addition, we reserve the right to share such Non PII, which does not personally identify you, with third parties, for any purpose.
  </p>
  <p>
    The Reflection minus the photo in the Reflection constitutes Non-PII because, unless combined with PII, it does not personally identify you or any other user. Additionally, we may aggregate PII in a manner such that the end-product does not
    personally identify you or any other user of the Site, for example, by using PII to calculate the number of users located in the US. Such aggregate information is considered Non-PII for purposes of this Policy.
  </p>
  <p>
    <h4>3. How does rootup disclose personally identifiable information?</h4>
  </p>
  <p>
    Highlighting your Reflection. If rootup would like to highlight your Reflection on our media platforms (such as Twitter and Instagram), rootup may use your name, state, and country to attribute your authorship. The state and country (the “Location”)
    will only be shared if you have given us permission to do so on your account settings page. Note that users’ default settings allow us to share this location information. A user must change their settings manually to disallow rootup from sharing
    their location information on rootup’s media platforms. A user may also choose to remain anonymous (i.e. the user’s name will not be shared) on your account settings page. To request that rootup not share any of a user’s reflections on rootup’s media
    platforms, the user must email rootup at rootupteam@gmail.com
  </p>
  <p>
    <h4>4. Contact us</h4>
  </p>
  <p>
    If you have any questions regarding this Policy, please contact us at rootupteam@gmail.com
  </p>
  <p>
    <br>
  </div>
