<div class="team-page">
  <h2>Meet Our Team</h2>
  <h2>Current Members</h2>
  <div class="current-members">
    <div class="row">
      <div class="person">
        <img src="https://y3j5m2z3.stackpathcdn.com/wp-content/uploads/2014/11/water.jpg" class="bio-pic">
        <p class="name">Jenny Fang</p>
        <p class="title">Jenny Fang</p>
        <p class="description">Jenny Fang</p>
        <p class="contact"> contact me </p>
      </div>
      <img src="https://y3j5m2z3.stackpathcdn.com/wp-content/uploads/2014/11/water.jpg" class="bio-pic">
      <img src="https://y3j5m2z3.stackpathcdn.com/wp-content/uploads/2014/11/water.jpg" class="bio-pic">
    </div>
    <div class="row">
      <img src="https://y3j5m2z3.stackpathcdn.com/wp-content/uploads/2014/11/water.jpg" class="bio-pic">
      <img src="https://y3j5m2z3.stackpathcdn.com/wp-content/uploads/2014/11/water.jpg" class="bio-pic">
    </div>
  </div>
  <div class="past-members">
    <h2>Past Members</h2>
    <div class="row">
      <p class="name">Lisa Maldonado </p>
      <p class="title">Engineer</p>
    </div>
    <div class="row">
      <p class="name">Minh To </p>
      <p class="title">Engineer</p>
    </div>
  </div>
</div>
