<div class="team-page">
  <h2 class="heading">Meet Our Team</h2>
  <h2 class="subheading">Current Members</h2>
  <div class="current-members">
    <div class="row">
      <div class="person">
        <%= image_tag 'team/jenny.jpg', class:"bio-pic" %>
        <p class="name">Jenny Fang</p>
        <p class="title">Product Manager</p>
        <p class="description">I’m a senior at WashU. I care about people’s health, the environment, and building community. I love spontaneity and am always down for adventure.</p>
        <a class="contact" href="mailto: fang.j.sra@gmail.com"> contact me </a>
      </div>
      <div class="person">
        <%= image_tag 'team/philip.jpg', class:"bio-pic" %>
        <p class="name">Philip Zhang</p>
        <p class="title">Engineering Lead</p>
        <p class="description">I am senior in high school attending KIPP King Collegiate High School. A fun fact about me is that I have been coding since middle school.</p>
        <a class="contact" href="mailto: pzhanggg@gmail.com "> contact me </a>
      </div>
      <div class="person">
        <%= image_tag 'team/anabella.jpg', class:"bio-pic" %>
        <p class="name">Anabella McShane</p>
        <p class="title">UI/UX Designer and Illustrator</p>
        <p class="description">I am a senior attending San Leandro High. My interests include hiking and early morning car rides.</p>
        <a class="contact" href="mailto: Anabellamcshane421@gmail.com"> contact me </a>
      </div>
    </div>
  </div>
  <div class="past-members">
    <h2>Past Members</h2>
    <div>
      <p class="name">Jennifer Lee</p>
      <p class="title">Product and UI/UX Designer</p>
    </div>
    <div>
      <p class="name">Michelle Kim</p>
      <p class="title">Graphic Designer and Illustrator</p>
    </div>
    <div>
      <p class="name">Lisa Maldonado </p>
      <p class="title">Product Designer</p>
    </div>
    <div>
      <p class="name">Herrick Fang</p>
      <p class="title">Engineer</p>
    </div>
    <div>
      <p class="name">Minh To </p>
      <p class="title">Engineer</p>
    </div>
    <div>
      <p class="name">Ricky Hoang</p>
      <p class="title">Front-End Engineer</p>
    </div>
    <div>
      <p class="name">Dylan Olivares</p>
      <p class="title">Front-End Engineer</p>
    </div>
    <div>
      <p class="name">Ophelia Zhu</p>
      <p class="title">Front-End Engineer</p>
    </div>
  </div>
</>
