<% content_for :navbar do %>
  <%= render 'layouts/dashboard_navbar' %>
<% end %>

<div class="reflections">
  <h2 class="heading">Reflections </h2>
  <h2 class="info">Click on the each theme below to complete challenges and make a difference!</h2>
  <!-- <div class="rectangle-reflections">
    <h2 class="challenge-name">
      Grocery Shop with Reusables
    </h2>
    <div class="inner-rectangle">
      <div class="question">
        <h2>Reflection question goes here?</h2>
        <textarea class="reflection-question" placeholder="Write your answer..."></textarea>
      </div>
      <div class="caption">
        <div class="Input-photo">
            <div class="mini-rectangle"></div>
        </div>
        <textarea class="Caption-photo" placeholder="Caption your photo!"></textarea>
      </div>
    </div>
    <button type="button" class="submitreflections" data-toggle="modal" data-target="#submitreflections">submit reflections</button>
  </div> -->
</div>

    <div id="submitreflections" class="modal fade" role="dialog">
      <div class="reflections-dialog">
        <div class="reflections-content">
            <div class="reflections-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <div class="reflections-title">Amazing!</div>
            </div>
            <div class="reflections-body">
                You just submitted a reflection! Congrats on finishing this challenge!
            </div>
            <div class="Challenge-reflection-completed">
              Grocery Shop with Reusables
            </div>
          </div>
        </div>
      </div>
