<% content_for :navbar do %>
  <%= render 'layouts/dashboard_navbar' %>
<% end %>

<div class="reflections">
  <h1>Reflections </h1>
  <h2>You have completed the blank, blank, and blank  challenges. Submit the reflections for each respective challenge to finish up!</h2>
<div class="rectangle-reflections">
  <div class="Grocery-Shop-with-Re">
    Grocery Shop with Reusables
    </div>
  <div class="inner-rectangle">
    <div class="ref-ques">
    Reflection question goes here?
    <div class="reflection-question">
      <div class="Write-Your-Answer">
        Write your answer...
        </div>
      </div>
    </div>
    <div class="Input-photo">
      <div class="mini-rectangle"
      </div>
      </div>
<div class="Caption-photo">
  <div class="caption">
    Caption your photo!
    </div>
</div>




    </div>
  </div>
</div>
