<div class="faq-page container">
  <h1>FAQ</h1>
  <div class="accordion" id="accordion">
    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn" type="button" data-toggle="collapse" data-target="#_1">
            <strong>
              <span style="text-decoration:underline;">There’s too much information on the challenges page, even here. It’s hard to digest.</span></strong>
          </button>
        </h2>
      </div>

      <div id="_1" class="collapse show">
        <div class="card-body">
          <p>
            <strong>WE HEAR YOU, but give us a chance to</strong>
            <strong>explain</strong>.
          </p>
          <p>
            Here’s the truth. We tried really hard to not overwhelm you with lots of text.
            <strong>Please don’t let this stop you from taking action</strong>. That’s why we try to emphasize that you focus on the theme(s) you’re interested in, and choose 1-3 challenges to tackle at a time.
          </p>
          <p>
            There are so many climate actions to take, and we want to show you that variety. We want to make taking climate action interesting for many people, so we tackled many themes.
          </p>
          <p>
            We also want you to know
            <em>why</em>
            these challenges matter, because we don’t want to tell you to do things. Change happens when people learn why something matters, believe it themselves, and can talk about it themselves. We kept challenge descriptions as short but as informative as
            possible.
          </p>
          <p>
            We know some people want to learn more about topics. Some people need more information to aid them in completing challenges. We added that element to the challenges, and we tried to find the most relevant and visually digestible content we could
            find.
          </p>
          <p>
            We tried really hard, and we’re still working on it. If you have any ideas, please
            <a target="_blank" href="mailto:rootupteam@gmail.com">share with us</a>.
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn" type="button" data-toggle="collapse" data-target="#_2">
            <strong>
              <span style="text-decoration:underline;">What’s the point of taking action? What difference will I make?</span></strong>
          </button>
        </h2>
      </div>

      <div id="_2" class="collapse">
        <div class="card-body">
          <p>
            You’re right, one person alone will not stop or reverse climate change. However,
            <strong>you have the ability to act, to inspire, to influence</strong>.
            <a target="_blank" href="https://slate.com/technology/2018/10/carbon-footprint-climate-change-personal-action-collective-action.html">Reducing your carbon footprint still matters</a>.
          </p>
          <p>
            <strong>Staying true to your values is your activism</strong>. You live in a community where people see you. When you live by example + do your best, you show others another way to do things. You signal the importance of change. That act alone can nudge them to reconsider + change their habits.
          </p>
          <p>
            Think about your friends, family, colleagues, favorite businesses, local government -- the people who could see you. That’s a difference you can make:
            <strong>magnify the impact of your individual action. That is your power.</strong>
          </p>
          <p>
            One warning: it’s easy to think that climate change could have been fixed if we took all these individual actions. That can be demoralizing though, because people think we need to strive for perfection and give up.
          </p>
          <p>
            Let us be clear.
            <strong>Fighting for climate justice starts with individual action but it needs to end with collective action</strong>.
            <a target="_blank" href="https://www.huffpost.com/entry/4-things-every-aspiring-e_b_8153554">You don’t need to be perfect</a>.
            <strong>Just do what you can</strong>.
          </p>
          <p>
            The worst thing to do is nothing. To not try. To not care enough. Because we can’t afford it anymore. We’ve seen
            <a target="_blank" href="https://www.oxfam.org/en/5-natural-disasters-beg-climate-action">unprecedented extreme weather globally</a>. These natural disasters
            <a target="_blank" href="https://www.vox.com/2018/12/27/18150160/natural-disasters-2018-hurricanes-wildfires-heat-climate-change-cost-deaths">cost billions of money</a>
            and impact millions of people everywhere.
          </p>
          <p>
            We’ve got 11 years (until 2030) left to keep
            <a target="_blank" href="https://www.ipcc.ch/sr15/">global warming under 1.5° C</a>, or we face
            <a target="_blank" href="https://www.nytimes.com/interactive/2018/10/07/climate/ipcc-report-half-degree.html">life-threatening environmental disasters</a>.
          </p>
          <p>
            We want a livable future, and that’s what we’re fighting for.
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn" type="button" data-toggle="collapse" data-target="#_3">
            <strong>
              <span style="text-decoration:underline;">Climate change is such a large problem. How are we going to fix it?</span></strong>
          </button>
        </h2>
      </div>

      <div id="_3" class="collapse">
        <div class="card-body">
          <p>
            We don’t have the answers. But we have hope and conviction.
          </p>
          <p>
            Hopefully, these articles will convince you of the importance of your actions
          </p>
          <ol>

            <li>Remember
              <a target="_blank" href="https://www.huffpost.com/entry/4-things-every-aspiring-e_b_8153554">these four things</a>
              as you commit to taking climate action (ignore title if it doesn’t vibe with you.)

            <li>
              <a target="_blank" href="https://slate.com/technology/2018/10/carbon-footprint-climate-change-personal-action-collective-action.html">Reducing your carbon footprint matters</a>

            <li>
              <a target="_blank" href="https://www.vox.com/the-highlight/2019/5/28/18629833/climate-change-2019-green-new-deal">Want a liveable future</a>
            </li>
          </ol>
          <p>
            The articles above are worth reading when you have time, but if not, here’s a
            <strong>TL;DR</strong>
          </p>
          <ol>

            <li>
              <strong>You don’t have to be perfect</strong>. It wasn’t just one person or one company that created climate change, so don’t be so hard on yourself to do it all.

            <li>
              <strong>
                <a target="_blank" href="https://slate.com/technology/2018/10/carbon-footprint-climate-change-personal-action-collective-action.html">“Lifestyle change builds momentum for systemic change”</a>
              </strong>

            <li>Stop obsessing over how not eco-friendly you are.
              <strong>We’re here to fight with you to tackle climate change together.</strong>
            </li>
          </ol>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn" type="button" data-toggle="collapse" data-target="#_4">
            <strong>
              <span style="text-decoration:underline;">I’m not “green” enough. I can’t do all this.</span></strong>

          </button>
        </h2>
      </div>

      <div id="_4" class="collapse">
        <div class="card-body">
          <p>
            <a target="_blank" href="https://www.vox.com/the-highlight/2019/5/28/18629833/climate-change-2019-green-new-deal">Stop obsessing over how not eco-friendly you are</a>.
            <strong>We’re
              <a target="_blank" href="https://www.huffpost.com/entry/4-things-every-aspiring-e_b_8153554">not asking you to do it all</a>
            </strong>. We’re not asking you to have all the answers. We’re not asking you to be perfect.
          </p>
          <p>
            <strong>We ask you to: commit to doing what you can</strong>. Take a look at the themes and challenges that genuinely interests you or feels relevant. And
            <strong>take one challenge at a time</strong>.
          </p>
          <p>
            We know there’s a lot of information, just focus on your single challenge.
            <strong>Do the best that you can</strong>. Give a challenge a try.
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn" type="button" data-toggle="collapse" data-target="#_5">
            <strong>
              <span style="text-decoration:underline;">What is one thing I can do now that will have the biggest impact on tackling climate change?</span></strong>
          </button>
        </h2>
      </div>

      <div id="_5" class="collapse">
        <div class="card-body">
          <p>
            We’ll give you three actions. Please don’t stop just there though, because we need to keep the momentum going for systemic change.
          </p>
          <p>
            <strong>
              <a target="_blank" href="https://www.drawdown.org/about">Project Drawdown</a>
            </strong>
            is a research organization that shares their findings on impactful + viable climate solutions. You can explore their list of top climate solutions by carbon emission reduction
            <a target="_blank" href="https://www.drawdown.org/solutions-summary-by-rank">here</a>.
          </p>
          <ol>

            <li>
              <strong>
                <a target="_blank" href="https://www.drawdown.org/solutions/food/reduced-food-waste">Reduce food waste</a>
              </strong>. This reduces deforestation for farmland and saves on the resources required to grow more food.

            <li>
              <strong>
                <a target="_blank" href="https://www.drawdown.org/solutions/food/plant-rich-diet">Eat a plant-rich diet</a>
              </strong>. This means less (not no, but less) meat and more plants. Raising livestock takes a lot of resources, so consuming less meat means less carbon emissions associated with raising livestock.

            <li>
              <strong>Engage others to commit to climate action</strong>, especially businesses and government. Think: friends, family, colleagues, favorite businesses, local government officials -- literally anyone.
              <strong>Fighting for climate justice starts with individual action but it needs to end with collective action</strong>.
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
