

<h2>About rootup</h2>

<h3>Hi there, welcome to rootup!</h3>

<p>We’re a team of high school and college students, wanting to mobilize people to take action.</p>
<p>We see the news, read articles, and hear people talking about the environmental issues happening
around the world, such as the Amazon rainforest fires, plastic pollution, and cancer-causing
Roundup. These events and products suck because they harm people and animals’ health. When we talk
about these issues with people or hear others talking about these topics, most people agree that
these events and products are bad. However, the conversation usually ends there, because we often
don’t know what to do about it, and we move on with our lives.</p>

<p>Rootup partners with Turning Green (TG), an environmental non-profit with a mission to empower
students to realize their own agency. Every year, TG visits college campuses to inform students on
seven key sustainability topics and engage them to create tangible change on their campuses. A
common theme in TG’s annual visits that students care, but they don’t know what they can do to be
  part of the solution.</p>
<p>The Turning Green team and Jenny Fang, a founding member of rootup,
came together to figure out how to enable people to take action, and the idea of rootup sprouted.
Jenny brought us together to build the rootup app. </p>




