<div class="about-page">
  <h2 class="heading">About rootup</h2>
  <h2 class="subheading">Hi there, welcome to rootup!</h2>
  <div class="description">
    <div class="description-pic">
      <%= image_tag('rootup_square.svg', size: '375') %>
    </div>
    <div class="description-text">
      <p style="font-size:1.25em; font-weight:bold;">We’re a team of high school and college students, wanting to mobilize people to take action.</p>
      <p>We see the news, read articles, and hear people talking about the environmental issues happening
        around the world, such as the Amazon rainforest fires, plastic pollution, and cancer-causing
        Roundup. These events and products suck because they harm people and animals’ health. When we talk
        about these issues with people or hear others talking about these topics, most people agree that
        these events and products are bad. However, the conversation usually ends there, because we often
        don’t know what to do about it, and we move on with our lives.</p>
      <p>Rootup partners with <a href="https://turninggreen.org/" target="_blank">Turning Green (TG)</a>, an environmental non-profit with a mission to empower
        students to realize their own agency. Every year, TG visits college campuses to inform students on
        seven key sustainability topics and engage them to create tangible change on their campuses. A
        common theme in TG’s annual visits that students care, but they don’t know what they can do to be
        part of the solution.</p>
      <p>The Turning Green team and Jenny Fang, a founding member of rootup,
        came together to figure out how to enable people to take action, and the idea of rootup sprouted.
        Jenny brought us together to build the rootup app. </p>
    </div>
  </div>
  <div class="principles">
    <h2>Core Principles</h2>
    We believe that:
    <ul>
      <li>Anyone -- regardless of age, wealth, or background -- can enact change in their community. </li>
      <ul>
        <li> Everyone is welcome to join the rootup community! </li>
      </ul>
      <li>The impact of our actions add up. Just by doing something consistently, we can affect communities.</li>
      <ul>
        <li> We’ve designed challenges for you to take on a regular basis to build habits that better care for your health and the environment. </li>
      </ul>
      <li>Caring for people’s health and our environment should be simple and easy.  </li>
      <ul>
        <li> We’ve written digestible summaries to give context about why our challenges matter and resources for you to learn more about the topic. </li>
      </ul>
      <li>This isn’t a solo effort. </li>
      <ul>
        <li>We are doing the challenges with you, and we’re cheering you on!</li>
      </ul>
    </ul>
  </div>
  <div class="call-to-action">
    <h2 class="ending">
      We want to make change accessible. With rootup, we hope to shift conversations to action.
    </h2>
    <h2 class="ending">
      We invite you to join us in a movement to prioritize people and environmental health and wellness.
    </h2>
  </div>
</div>
