<div class="resources-page">
  <p class="heading">
    <strong>Any doubts? We got you!</strong>
  </p>
  <p>
    <strong>I don’t feel comfortable carrying a bag with me to collect my trash in public. (waste challenge)</strong>
  </p>
  <p>
    It is important to actually carry the bag around because:
  </p>
  <p>
    1) you can see the physical accumulation of your trash
  </p>
  <p>
    2) you will experience the burden of your waste, and
  </p>
  <p>
    3) you can't ignore the amount of waste you produce.
  </p>
  <p>
    We recognize it can feel uncomfortable when people look at us and our bag of trash. (We know; we’ve done it!) However, let them look. If they ask you about it, tell them about the challenge you’re doing. Or volunteer this info, even if they don’t
    ask. And ask them: do you know how much trash you produce in a day?
  </p>
  <p>
    This challenge also helps you build confidence in speaking up to stand for what you believe in and care about. However, if you’re not ready, we offered an alternative challenge to accomplish the same goal of auditing your waste.
  </p>
  <p>
    Know that you’re not alone; we are here to support you, and many others are also facing the same challenges. We are here for you and we believe in you. You can do this!!
  </p>
  <p>
    <strong>I don’t feel comfortable reaching out to individuals, a business, or local government.</strong>
  </p>
  <p>
    We recognize people's comfort with speaking to people, especially strangers, varies widely. For many, this challenge can be very daunting.
  </p>
  <p>
    Start small first.
  </p>
  <p>
    For strangers, farmers, and other individuals: smile and/or say ‘hi’.
  </p>
  <p>
    For individuals with authoritative positions (e.g. land management team): email or call.
  </p>
  <p>
    For businesses: email or call a manager.
  </p>
  <p>
    For local government: sit in a city council meeting.
  </p>
  <p>
    And work your way up to speaking to individuals in person, having conversations with them, and maybe even presenting to a larger audience when you’re ready.
  </p>
  <p>
    Remember this: you have every right to ask questions to learn more, voice your concerns and be part of the local government processes as a consumer and citizen. Do not let the fear of what other people think stop you from exploring your curiosities
    and standing up for your values.
  </p>
  <p>
    Your target audience may refuse or make it very difficult to cooperate. Don’t let this bring you down. Instead, be proud! Because you spoke up. You tried to collaborate with them to better your community, and that counts. Try again with them if you
    think something valuable will come out of it. Or, try reaching out to another individual.
  </p>
  <p>
    We're here to support you in this endeavor, so please reach out if you have any questions or need support. We are here for you and we believe in you. You can do this!!
  </p>
  <p class="heading">
    <strong>Tell me more about these topics!</strong>
  </p>
  <p class="section-title">
    <strong>Waste</strong>
  </p>
  <p>
    <strong>What is single use disposable?
    </strong>
  </p>
  <p>
    Anything that you use once and then throw away.
  </p>
  <p>
    <strong>What makes something biodegradable?</strong>
  </p>
  <p>
    Something is biodegradable if bacteria and decomposers in soil can break the something down into other useful products. These “useful products” often are nutrients used by natural processes in the environment.
  </p>
  <p>
    <strong>What is taring and how do I tare?</strong>
  </p>
  <p>
    Using your own bags and containers adds weight to your purchases. This only matters when what you’re buying is charged by weight. To avoid being charged for the weight of your bags and containers,
    <strong>tare</strong>
    your bags and containers first.
  </p>
  <p>
    If your bags and containers are labelled with a tare weight already, you can skip figuring out the tare weight.
  </p>
  <p>
    Here are 2 ways to tare:
  </p>
  <ol>
    <li>Place your empty bag or jar on a scale and measure weight. Label the weight on your bag or container.
    <li>Bring your empty bags and containers to checkout before shopping. Ask the cashier to tare your bags and containers. Label the weight on your bag or container.
    </li>
  </ol>
  <p>
    And now you can shop. When you checkout your purchases, be sure to tell the cashier the tare weights of your bags and containers so they can subtract it when charging you.
  </p>
  <p>
    <strong>How do I buy loose product zero waste style?</strong>
  </p>
  <p>
    Here are 2 ways:
  </p>
  <ol>
    <li>Put the loose fruits and veggies directly into your basket or cart. Don’t bag them. (You’re going to wash them anyways before eating.) Lay them bare onto the conveyor belt or let the cashier take them out directly from your basket to charge them.
    <li>Use your own bags (reuse plastic bags from home or cloth ones) to bag each of them. Just remember to tare your bag if your produce is charged by weight.
    </li>
  </ol>
  <p>
    <strong>What happens when stuff end up in landfills?</strong>
  </p>
  <p>
    Landfills release
    <a href="https://www.drawdown.org/solutions/buildings-and-cities/landfill-methane">12% of the world’s total methane</a>, making it one of the top methane emission sources. The problem with methane is that it has
    <a href="https://www.drawdown.org/solutions/buildings-and-cities/landfill-methane">34x the effect of carbon dioxide</a>. In other words, it warms up our atmosphere a lot.
  </p>
  <p>
    Oxygen, dirt, and microorganisms are
    <a href="https://www.thoughtco.com/do-biodegradable-items-really-break-down-1204144">required for biodegradation</a>
    to happen. However, landfills are so compact with trash that there’s very little oxygen, dirt, and microorganisms. The trash just sits there, for hundreds of years, taking up space.
  </p>
  <p>
    Landfills are
    <a href="https://www.drawdown.org/solutions/buildings-and-cities/landfill-methane">composed of mostly organic matter</a>
    (e.g. food scraps, yard scraps, wastepaper). The lack of oxygen in landfills promote anaerobic conditions where methane-producing bacteria thrive. As these bacteria breakdown the organic matter, methane is produced.
  </p>
  <p>
    As more methane is released into the atmosphere, this imbalances our climate, which contributes to rising sea levels, droughts, and wildlife.
  </p>
  <p>
    <strong>How does plastic end up in the oceans?</strong>
  </p>
  <p>
    Plastic can be made lightweight and flexible, which is ideal for packaging purposes. Their lightweight characteristic makes it easy for plastic to escape open trash cans, torn trash bags, open trash piles at waste transfer station and landfills. This
    contributes to the
    <a href="https://static1.squarespace.com/static/5522e85be4b0b65a7c78ac96/t/5a99d29d41920278291296a4/1520030386318/5Gyres+BAN+List+2018.pdf">8 million average tons of plastic</a>
    that escape waste management systems around the world. As a result, the plastic enters storm drains and local waterways, ultimately making its way into the oceans.
  </p>
  <p>
    <strong>What’s the problem with plastic ending up in oceans?</strong>
  </p>
  <p>
    Sunlight will break the plastic in oceans down into smaller and smaller pieces over time. In fact, it is
    <a href="https://www.5gyres.org/faq">estimated that by 2050</a>, there will be more plastic than fish in the oceans. These microplastics can absorb the chemicals in its surrounding areas such that a small piece of plastic can be 1000x more toxic than
    its surrounding area. When animals, especially fish, eat these microplastics, the plastic makes its way up the food chain into the food we eat. Not only will we eat the plastics themselves, we also consume the toxins that come with the plastic.
  </p>
  <p>
    <strong>What are swaps that I can make to use less plastic in my life?</strong>
  </p>
  <p>
    Here are ideas to get started:
  </p>
  <ul>
    <li>switch to bamboo toothbrushes;
    <li>biodegradable floss + reusable container;
    <li>reusable stainless steel razors;
    <li>compostable & biodegradable dishwashing sponges.
    </li>
  </ul>
  <p class="section-title">
    <strong>Biodiversity</strong>
  </p>
  <p>
    <strong>What is biodiversity?</strong>
  </p>
  <p>
    <strong></strong>
  </p>
  <p>
    Biodiversity is the variety of life in the world. There are three levels of biodiversity:
  </p>
  <ol>
    <li>biodiversity in ecosystems (e.g. river, park, deserts, forests),
    <li>biodiversity in species (e.g. bacteria, insects, plants, animals), and
    <li>biodiversity in genetics (i.e. traits within a species).
    </li>
  </ol>
  <p>
    <strong>How does a loss in biodiversity impact soil health?</strong>
  </p>
  <p>
    A loss in biodiversity often means the decline or extinction of a species, which has unseen consequences. For example, when there is a decrease in worms, bacteria, or fungi, that means some nutrient isn't recycled effectively. This limits the amount
    of nutrients soil can provide to plants, which impacts the nutrients we get from the food we eat.
  </p>
  <p>
    You can learn more about the impact of biodiversity loss
    <a href="https://www.ecowatch.com/biodiversity-loss-human-health-2636410357.html">here</a>.
  </p>
  <p>
    <strong>What are pollinators?</strong>
  </p>
  <p>
    Pollinators are the organisms that transfer plant pollen to enable reproduction. Examples of pollinators include bees, butterflies, birds, and bats.
  </p>
  <p>
    <strong>What are perennials?
    </strong>
  </p>
  <p>
    Perennials are plants that live for more than two years. You plant them once, and they'll be back producing fruits, vegetables, or flowers each year without you needing to replant.
  </p>
  <p>
    <strong>What are annuals?</strong>
  </p>
  <p>
    Annuals are plants that live for only one growing season. They will produce seeds and then die. You'll have to replant another one each year to get any fruits, vegetables, or flowers.
  </p>
  <p class="section-title">
    <strong>Travel</strong>
  </p>
  <p>
    <strong>What is fair trade?</strong>
  </p>
  <p>
    <a href="https://www.fairtradewinds.net/guide-fair-trade-labels/">Fair trade certification</a>
    makes it easy for you to know that the people who made this product was treated and compensated
    <a href="https://wfto.com/fair-trade/10-principles-fair-trade">equitably</a>.
  </p>
  <p>
    You can learn more about what fair trade is
    <a href="http://www.fairtrade.org.uk/What-is-Fairtrade/FAQs">here</a>.
  </p>
  <p>
    <strong>How does flying impact the environment?</strong>
  </p>
  <p>
    <a href="https://www.drawdown.org/solutions/transport/airplanes">Airplanes consume</a>
    lots of fuel, especially during landings and takeoffs. Sitting in business or first class is equivalent to
    <a href="https://blogs.ei.columbia.edu/2018/12/27/35-ways-reduce-carbon-footprint/">3x or 9x</a>
    more carbon emissions than economy seats. The best way to minimize our carbon footprint is to not fly, but sometimes we have to, so let's do it responsibly:
  </p>
  <p>
    1) Pack lightly and
    <a href="https://trashisfortossers.com/how-to-travel-without-waste-tips-for-the-eco-conscious-traveler/">efficiently</a>.
  </p>
  <p>
    2) Fly nonstop.
  </p>
  <p>
    3) Choose economy seats for air travel.
  </p>
  <p>
    4)
    <a href="https://eco-age.com/news/how-offset-your-carbon-emissions-when-travelling">Offset your carbon emissions</a>, if within your budget.
  </p>
  <p class="section-title">
    <strong>Fashion</strong>
  </p>
  <p>
    <strong>What is the lifecycle of making clothes?</strong>
  </p>
  <p>
    Roughly speaking, the lifecycle of clothes accounts for growing, sourcing, transporting, processing, making, shipping, and disposing of the material and clothing product.
  </p>
  <p>
    <strong>What makes the production of clothes resource intensive?
    </strong>
  </p>
  <p>
    Think about the land, feed, water, electricity, labor, chemical use, and time required to grow, source, and process clothing materials. It’s a lot and it adds up.
  </p>
  <p>
    For example, the demand for fashion has polluted whole waterways in Bangladesh, India, Kazakhstan, Uzbekistan, Indonesia, and China. These waterways are infected with dyes, pesticides, and other hazardous chemicals that've stripped life in the area.
    No more fishing or clean water. But people still live there, because that is their home.
  </p>
  <p>
    <strong>What does it mean to exploit low cost labor abroad?</strong>
  </p>
  <p>
    People are working in
    <a href="https://cleanclothes.org/safety">unsafe working conditions</a>
    and
    <a href="https://cleanclothes.org/livingwage">paid non-living wages</a>.
  </p>
  <p>
    You can learn more about this topic
    <a href="https://cleanclothes.org/issues/faq">here</a>.
  </p>
  <p>
    <strong>What are microfibers?</strong>
  </p>
  <p>
    <a href="https://storyofstuff.org/uncategorized/the-story-of-microfibers-faqs/">Microfibers</a>
    are tiny fragments of plastic that make synthetic materials like polyester, rayon, and acrylics.
  </p>
  <p>
    <strong>Why does speaking up matter? Corporations won’t listen to me.</strong>
  </p>
  <p>
    It's frustrating when large corporations prioritize profits over health and safety. Regardless of what they do though, it's incredibly important for us to build the habit of speaking up instead of staying silent. This will help us in our own personal
    lives. We need to strive for spreading the word and practicing doing something instead of doing nothing.
  </p>
  <p>
    <strong>What is problem with plastic?</strong>
  </p>
  <p>
    The problem with plastics is often 1) improper disposal and 2) the dirtiness that comes with manufacturing plastic goods (from oil extraction to air pollution).
  </p>
  <p>
    To avoid 1), we can opt to dispose of plastics properly. However, not all plastics are recyclable. As such, it's better to opt for reusable tools so we don't have to worry about throwing something away properly every time.
  </p>
  <p>
    To address 2), opting for non-plastic goods can ensure we don't contribute to the demand for oil extraction. Choosing tools made of materials that come directly from nature means less processing and less pollution from manufacturing.
  </p>
  <p class="section-title">
    <strong>Clean</strong>
  </p>
  <p>
    <strong>What is greenwashing?</strong>
  </p>
  <p>
    Companies make their products seem safe and environmentally friendly by using green colors and buzz words like "all-natural". If you actually read the ingredients though, these products are no better than conventional cleaning products.
  </p>
  <p class="section-title">
    <strong>Food
    </strong>
  </p>
  <p>
    <strong>What is FLOSN?</strong>
  </p>
  <p>
    Fresh. Local. Organic. Seasonal. Non-GMO.
  </p>
  <p>
    Fresh and local produce means there's less time between the moment of harvest and when the food enters your tummy. As such, the produce you're eating holds more nutrients to feed your body.
  </p>
  <p>
    Seasonal produce is cheaper than non-seasonal because there is an abundant supply during the season.
  </p>
  <p>
    Organic foods are not sprayed with toxic chemicals, so these pesticides, insecticides, and herbicides don't enter our bodies.
  </p>
  <p>
    Non-GMO foods are not genetically modified (often, to be resistant to toxic sprays), so we know we are eating what we think we're eating, no unseen surprises.
  </p>
  <p>
    You can learn more about these terms
    <a href="https://www.consciouskitchen.org/guiding-terms/">here</a>.
  </p>
  <p>
    <strong>Why is buying local foods better than non-local?
    </strong>
  </p>
  <p>
    1)Buying local means investing in the local economy
  </p>
  <p>
    Owners of local businesses tend to support local businesses. So when you spend money at the farmers’ market or a local independent grocery store, more of your money will stay within your local economy. With more money in their pockets, local
    businesses create more local jobs and support local processing and distribution systems. Therefore, more money stays within your community.
  </p>
  <p>
    When you spend money at corporate chains, that money goes towards global suppliers, jobs outside your community, and global processing and distribution systems. Therefore, less money is reinvested back into the local economy.
  </p>
  <p>
    2) You get fresher, more nutritious foods
  </p>
  <p>
    Less travel time to distribute foods means less exposure to toxins that are in the air and used to preserve produce. Because they are more recently harvested, the food is fresher, meaning they lose less nutrients, and there’s less spoilage.
  </p>
  <p>
    3) There’s less waste, which means less greenhouse gas emissions.
  </p>
  <p>
    Less fuel is consumed for transportation fuel when buying local. Less packaging is also needed to retain the freshness of the goods. Therefore, less resources associated with making packaging is consumed, ultimately leading to less waste.
  </p>
  <p>
    You can learn more about the benefits of local food
    <a href="https://foodrevolution.org/blog/why-buy-local-food/">here</a>.
  </p>
  <p>
    <strong>What are the costs of sending food to landfills?</strong>
  </p>
  <p>
    Sending food to the landfills is a
    <a href="https://foodprint.org/issues/the-problem-of-food-waste/">complete waste</a>
    of farmers' efforts and resources. Resources being the water, energy, land, labor, and time that went into growing, processing, storing, and distributing the food.
  </p>
  <p>
    On top of that, it is a waste of money for consumers and distributors who bought the food. Throwing away food poses the additional costs of transporting and disposing of the waste by waste management municipalities. That is, we are paying people,
    fuel costs, and waste infrastructure to have waste management take our trash away.
  </p>
  <p>
    To demonstrate,
    <a href="https://www.un.org/sustainabledevelopment/blog/2016/06/un-announces-first-ever-global-standard-to-measure-food-loss-and-waste/">about 1/3 of all food is lost or wasted</a>, which amounts to about $940 billion a year. Imagine the number of hungry people this food waste could feed.
  </p>
  <p>
    <strong>How can ⅓ of all food be lost or wasted?</strong>
  </p>
  <p>
    This is due to multiple reasons:
  </p>
  <p>
    1) forgotten food spoils in the kitchen
  </p>
  <p>
    2) cultural tendencies to avoid
    <a href="https://www.imperfectproduce.com/our-mission">imperfect produce</a>
  </p>
  <p>
    3) lack of access to technology to harvest and store their crops.
  </p>
  <p>
    <strong>Why does raising livestock take so many resources?</strong>
  </p>
  <p>
    Raising livestock takes an enormous amount of land, food, and water because:
  </p>
  <p>
    1) animals don't easily convert food into body mass and
  </p>
  <p>
    2) the demand for meat is so high that the livestock industry has neglected animal welfare and the environmental impact of their actions.
  </p>
  <p>
    <strong>Why are fish populations at all-time lows?</strong>
  </p>
  <p>
    This is due to a combination of overfishing, illegal fishing, bycatch, ocean acidification, and habitat damage from fishing equipment. This has contributed to the rise in
    <a href="https://www.seafoodwatch.org/ocean-issues/aquaculture">fish farming</a>, which has its own pros and cons.
  </p>
  <p>
    You can learn more about the effects of fishing for wild seafood
    <a href="https://www.seafoodwatch.org/ocean-issues/wild-seafood">here</a>.
  </p>
  <p class="section-title">
    <strong>Water</strong>
  </p>
  <p>
    <strong>Why should care about my water footprint?</strong>
  </p>
  <p>
    Our usable water supply is finite and demand is increasing. If we aren't conscientious about how much water we use and pollute, the world's human-useable water supply will deplete.
    <a href="https://www.usgs.gov/media/images/distribution-water-and-above-earth-0">2.5%</a>
    of Earth's water supply is freshwater, but humans can only use about 0.003% of that. In fact, 2.1 billion people lack access to safe drinking water.
  </p>
  <p>
    <strong>Why does bottled water cost so much more (2000x) than tap water?</strong>
  </p>
  <p>
    Bottled water accounts for the cost of labor, processing, packaging, and shipping. Tap water doesn’t require all of that.
  </p>
  <p>
    <strong>How do bottled water companies contribute to ocean plastic pollution?</strong>
  </p>
  <p>
    The impact of bottled water companies are both direct and indirect. It takes 2x more water to create the plastic bottle than it takes to fill it, and ??? Less than 30% of plastic water bottles are recycled, and although the company isn’t responsible
    for disposing of the water bottles, they contribute to the existence of these bottles.
  </p>
  <p>
    <strong>Why does a meat-based diet have a larger water footprint than a water-based diet?
    </strong>
  </p>
  <p>
    Dairy products have large water footprints from the costs of raising livestock. Packaged and processed foods also have larger water footprints than whole plant foods because it takes water to wash and pre-cook the food, make the packaging material,
    and obtain the fuel for shipping. The water footprint of whole fruits and vegetables, on the other hand, is mostly just made up of the water needed to grow the crops.
  </p>
  <p>
    You can learn more about raising animals in an industrial system
    <a href="https://foodprint.org/issues/raising-animals-industrial-system/">here</a>.
  </p>
</div>
