<div class="terms-page container">
  <p>
    PLEASE READ THE FOLLOWING CAREFULLY AND UNDERSTAND THIS AGREEMENT AS IT AFFECTS YOUR LEGAL RIGHTS.
  </p>
  <p>
    <strong>By clicking the “Create Account” button (or any similar button) located on the bottom of the registration page at time of sign-up, you (the “User”) agree to be bound by this Terms of Service agreement (the “Agreement”).
    </strong>
  </p>
  <p>
    rootup is currently located at https://rootup.isupinthe.cloud/<strong></strong>(“Site”). As such, this Agreement is between you (“you”, “user”, or “visitor”) and rootup (“we”, “us”, or “our”) regarding your use of this Site.
  </p>
  <p>
    If you do not agree with this Agreement, you may not use the rootup Service (as defined in Section 1).
  </p>
  <p>
    rootup may modify this Agreement from time to time, temporarily or permanently, in whole or in part. Your continued use of the Site after such changes will indicate your acceptance of such changes.
  </p>
  <p>
    <strong>GENERAL TERMS AND CONDITIONS</strong>
  </p>
  <p>
    1. Overview
  </p>
  <p>
    rootup provides Users and Visitors of the Site with content (“Content”) and services (“Functions”) (collectively, the “Services”), which may include, without limitation:
  </p>
  <p>

    (a) content such as audio and video clips, photographs, graphics, images, text, data, user comments, opinions, postings and messages and other similar content, which may be sourced from third party websites and/or rootup users, and;
  </p>
  <p>

    (b) services such as User reflection logging, impact tracking and sharing functionalities.
  </p>
  <p>
    Unless otherwise specified, all sections of this Agreement apply to the Services.
  </p>
  <p>
    2. Content
  </p>
  <p>
    We attempt to ensure the Content on this Site is complete, accurate and current. Despite our efforts, the Content on this Site may occasionally be inaccurate, incomplete or out of date. As such, rootup may modify the Content from time to time, with
    or without notice. We make no representation as to the completeness, accuracy or currentness of any information on this Site.
  </p>
  <p>
    2.1 Links to third party websites
  </p>
  <p>
    The Site provides links to other websites and online resources (“External Resources”) to give you ideas on how to perform a challenge and provide you resources to learn more about a certain topic. Because rootup has no control over such External
    Resources, rootup and its employees, officers, directors, affiliates, agents, representatives, licensors, suppliers and service providers (collectively, “Rootup Team”) are not responsible for the availability of such External Resources.
  </p>
  <p>
    Inclusion of links to External Resources does not imply endorsement of a linked site by rootup. rootup is not and shall not be responsible or liable for any links from those External Resources to the Site, any content, advertising, products or other
    materials available on or through such other sites, or any loss or damages incurred in connection therewith. You leave the Services if you use these External Resources. Your dealings with External Resources are solely between you and the External
    Resources. You are subject to the terms and conditions of use applicable to such External Resources.
  </p>
  <p>
    3. Functions
  </p>
  <p>
    For purposes of clarity, you retain ownership of any content you submit through your account or otherwise through the Site (the “Reflection”).
  </p>
  <p>
    3.1 Information collection and aggregation
  </p>
  <p>
    Users will provide personal information upon registration, enroll in challenges on the Site, and log their progress towards challenge completion. We reserve the right to aggregate this information into metrics to be shared with the third parties
    within the Site and on rootup’s media platforms, which include Twitter and Instagram. For example, if there are 10 Users who are located in Montana, USA, we may share this information with the third parties to demonstrate our reach. No personal
    identifiable information will be shared to third parties without User’s consent. More details about your personal information and privacy is available in our privacy policy (the “Privacy Policy”), located at https://rootup.isupinthe.cloud/privacy.
  </p>
  <p>
    3.2. Reflection submissions
  </p>
  <p>
    We reserve the right (but have no obligation) to do any or all of the following, at our discretion: (i) monitor Submissions; (ii) alter, remove, or refuse to post or allow to be posted any Reflection; and/or (iii) disclose any Reflections, and the
    circumstances surrounding their transmission, to any third party in order to operate the Site; to protect the Rootup Team, and the Site’s users and visitors; to comply with legal obligations or governmental requests; to enforce this Agreement; or for
    any other reason or purpose.
  </p>
  <p>
    By using the Services, you hereby grant rootup and its service providers and designees a worldwide, non- exclusive, transferable, sublicenseable (through multiple tiers), royalty-free, perpetual, irrevocable right and license, without compensation to
    you: to use, reproduce, distribute, adapt (including without limitation edit, modify, translate, and reformat), create derivative works of, transmit, publicly display and publicly perform such Reflection, in any media now known or hereafter
    developed. This license is non-exclusive (so you can license your Reflections to others), worldwide (as the Internet is global in its reach), fully-paid up and royalty-free (so that we do not have to pay you for posting your Reflections),
    sublicenseable through multiple tiers (so that we can use our service providers and subcontractors to provide Services).
  </p>
  <p>
    We need certain rights to your Reflections to be able to make them available on the Site or our social media. You define these rights on your account’s privacy settings and our usage of your Reflections are defined in the Privacy Policy.
  </p>
  <p>
    4. Termination
  </p>
  <p>
    This Agreement is effective until terminated. Termination occurs in two ways: (i) User voluntarily terminates account the Services’ settings page, and (ii) rootup, in its sole discretion, may terminate your access to or use of the Site, at any time
    and for any reason, including if rootup believes that you have violated or acted inconsistently with the letter or spirit of this Agreement.
  </p>
  <p>
    Any termination of your access to or use of the Site may be affected without prior notice. rootup may immediately deactivate or delete your account, and all related information and files associated with it, and/or bar any further access to such
    information or files. rootup is not liable to you or any third party for any termination of your access to the Site or to any such information or files, and shall not be required to make such information or files available to you after any such
    termination.
  </p>
  <p>
    5. rootup’s Proprietary Rights
  </p>
  <p>
    The information and materials made available through the Site, including the Services, are and shall remain the property of rootup and its licensors and suppliers, and are protected by copyright, trademark, patent, and/or other proprietary rights and
    laws.
  </p>
  <p>
    Except as expressly authorized in advance by rootup in writing, you agree not to reproduce, modify, rent, lease, loan, sell, distribute, or create derivative works based (whether in whole or in part) on, all or any part of the Site or any materials
    made available through the Site.
  </p>
  <p>
    All trademarks and service marks on the Site not owned by rootup are the property of their respective owners. The trade names, trademarks, service marks and logos owned by rootup, whether registered or unregistered, may not be used in connection with
    any product or service that is not ours, in any manner that is likely to cause confusion. Nothing contained on the Site should be construed as granting, by implication, estoppel or otherwise, any license or right to use any of rootup’s trade names,
    trademarks, service marks or logos without our express prior written consent.
  </p>
  <p>
    6. Indemnity
  </p>
  <p>
    You agree to defend, indemnify and hold harmless the Rootup Team, from and against all claims, losses, costs and expenses (including attorneys fees) arising out of (a) your use of, or activities in connection with, the Site; or (b) any violation of
    this Agreement by you.
  </p>
  <p>
    7. Disclaimer of warranties
  </p>
  <p>
    THE SITE AND ANY GOODS OR SERVICES MADE AVAILABLE THROUGH OR IN CONNECTION WITH THE SITE ARE PROVIDED TO YOU “AS IS” WITHOUT ANY WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED OR STATUTORY. YOU AGREE THAT YOU MUST EVALUATE, AND THAT YOU BEAR ALL
    RISKS ASSOCIATED WITH, THE USE OF THE SITE, INCLUDING WITHOUT LIMITATION, ANY RELIANCE ON THE ACCURACY, COMPLETENESS OR USEFULNESS OF ANY MATERIALS AVAILABLE THROUGH THE SITE. THE ROOTUP TEAM AND SERVICE PROVIDERS DISCLAIM ALL WARRANTIES WITH RESPECT
    TO THE SITE AND ANY PRODUCT OR SERVICE (INCLUDING WITHOUT LIMITATION, THIRD PARTY PRODUCTS AND SERVICES) OBTAINED THROUGH THE SITE, TO THE FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW, INCLUDING THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, NONINFRINGEMENT, AND TITLE.
  </p>
  <p>
    8. Limitation of Liability
  </p>
  <p>
    THE ROOTUP TEAM AND SERVICE PROVIDERS WILL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY OR PUNITIVE DAMAGES OF ANY KIND, UNDER ANY CONTRACT, NEGLIGENCE, STRICT LIABILITY OR OTHER THEORY, INCLUDING WITHOUT LIMITATION,
    DAMAGES FOR LOSS OF PROFITS, USE, DATA, LOSS OF OTHER INTANGIBLES, LOSS OF SECURITY OF INFORMATION YOU HAVE PROVIDED IN CONNECTION WITH YOUR USE OF THE SITE, OR UNAUTHORIZED INTERCEPTION OF ANY SUCH INFORMATION BY THIRD PARTIES, EVEN IF ADVISED IN
    ADVANCE OF SUCH DAMAGES OR LOSSES. IN PARTICULAR, AND WITHOUT LIMITATION, THE ROOTUP TEAM AND SERVICE PROVIDERS WILL NOT BE LIABLE FOR DAMAGES OF ANY KIND RESULTING FROM YOUR USE OF OR INABILITY TO USE THE SITE OR FROM ANY CONTENT POSTED ON THE SITE
    BY ROOTUP OR ANY THIRD PARTY. YOUR SOLE AND EXCLUSIVE REMEDY FOR DISSATISFACTION WITH THE SITE IS TO STOP USING THE SITE. THE MAXIMUM LIABILITY OF ROOTUP FOR ALL DAMAGES, LOSSES AND CAUSES OF ACTION, WHETHER IN CONTRACT, TORT (INCLUDING WITHOUT
    LIMITATION NEGLIGENCE) OR OTHERWISE, SHALL BE THE TOTAL AMOUNT, IF ANY, PAID BY YOU TO ROOTUP TO ACCESS AND USE THE SITE.
  </p>
  <p>
    While we try to maintain the integrity and security of the Site and the servers from which the Site is operated, we do not guarantee that the Site will be or remain secure, complete or correct, or that access to the Site will be uninterrupted. The
    Site may include inaccuracies, errors and materials that violate or conflict with this Agreement. Additionally, third parties may make unauthorized alterations to the Site. If you become aware of any unauthorized third party alteration to the Site,
    contact us at rootupteam@gmail.com with a description of the material(s) at issue and the URL or location on the Site where such material(s) appear.
  </p>
  <p>
    9. Contact us
  </p>
  <p>
    If you have any questions regarding the meaning of application of this Agreement, please contact us at rootupteam@gmail.com
  </p>
</div>
