.challenge-page {
  margin-left: auto;
  width: 1050px;
  margin-right: auto;
  .heading {
    text-align: center;
    width: 787px;
    margin: auto;
    .instructions {
      // text-align: left;
      margin-top: 30px;
    }
  }
  .challenges-content {
    display: inline-block;
    margin-left: 42px;

      .To-Do {
      height: 70px;
      font-family: Raleway;
      font-size: 60px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.2px;
      color: #4f5151;
      margin-top: 42px;
      margin-bottom: 16px;

    }
    .challenge-box {
      width: 502px;
      border-radius: 2px;
      box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.5);
      background-color: #f9f9f9;
      margin-bottom: 16px;
    }
    .hidden {
    margin-bottom: 10px;
    }
      .challenge-icon {
        width: 48px;
        height: 48px;
        object-fit: contain;
        margin-bottom: 56px;
        margin-left: 18px;
        margin-right: 17px;
        margin-top: 22px;
        display: inline-block;
        vertical-align: top;
      }
      .challenge-info {
        height: 100%;
        display: inline-block;
        margin-top: 23px;
      }
      .Oval {
        width: 15px;
        height: 15px;
        background-color: #87b67b;
        border-radius: 40px;
        display: inline-block;
      }
      .challenge-name {
          width: 328px;
          height: 35px;
          font-family: Raleway;
          font-size: 30px;
          font-weight: 900;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.2px;
          color: #4f5151;
          margin-top: 7px;
          margin-bottom: 7px;
          margin-right: 49px;
        }
      .challenge-description {
        width: 241px;
        height: 29px;
        font-family: Raleway;
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.9px;
        color: #333333;
        display: inline-block;

        }
        .learn-more {
          margin-bottom: 20px;
        }
        .links {
          color: #90b582;
        }
        .start-challenge {
            margin-top: 20px;
        }
        #weeks {
          width: 47px;
          border: 2px solid #5a5b5a;
          border-radius: 7px;
          margin-bottom: 10px;
          padding: 2px;
        }
        .label {
          margin-left: 20px;
        }
        .challenge-title-to-do {
            width: 162px;
            height: 70px;
            font-family: Raleway;
            font-size: 60px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.2px;
            color: #4f5151;
            right: 537px;
            left: 741px;
            bottom: 1099px;
            top: 276px;
            position: fixed;
        }

        .add-challenge-button {
          color: white;
          background-color: #f05648;
          border-radius: 18px;
          width: 200px;
          margin-top: 10px;
        }
        .show-hidden {
        background:none;
        border:none;
        object-fit: contain;
        float: right;
        margin-top: -37px;
        }

      .Great-Job {
        width: 303px;
        height: 70px;
        font-family: Raleway;
        font-size: 60px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.2px;
        color: #4f5151;
        }
      .You-unlocked-waste-c {
        width: 478px;
        height: 87px;
        font-family: Raleway;
        font-size: 32px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.31;
        letter-spacing: -0.2px;
        text-align: center;
        color: #4f5151;
        }
      }
    }
  }
}

          }
        .Completed-Challenges {
          float:left;
          .Rectangle {
            width: 502px;
            height: 347px;
            border-radius: 2px;
            box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.5);
            border: solid 3px #979797;
            background-color: #f3f3f3;
            border-style: dashed;
          .SmallRectangle {
            width: 267px;
            height: 183px;
            background-color: #d8d8d8;
            object-fit:contain;
            margin-left: 118px;
            margin-right: 117px;
            margin-top: 44px;
            margin-bottom: 20px;
          }
          .Start-your-journey-t{
            width: 352px;
            height: 66px;
            font-family: Raleway;
            font-size: 28px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.2px;
            color: #4f5151;
            margin-left: 75px;
          }


          }
          .Completed {
            font-family: Raleway;
            font-size: 60px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.2px;
            color: #4f5151;
            margin-bottom: 16px;
            margin-top: 42px;
          }


          }

          .back-button {
            margin-top: 50px;
            display:inline-block;
            width: 100%;

          .WASTE-CHALLENGES {
            display: inline-block;
            vertical-align: middle;
            font-family: Raleway;
            font-size: 48px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.2px;
            color: #4f5151;
            margin-left: 22px;
            margin-bottom: 0px;
            }
          .back {
            border: none;
            background: none;
          }

          }


          }
