.login-page {
  min-height: 500px;

  .sign-in-box {
    width: 500px;
    min-height: 299px;
    border-radius: 13px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.21), 0 2px 10px 0 rgba(0, 0, 0, 0.13);
    margin: auto;
    padding: 20px 60px;
  }

  .header {
    font-size: 24px;
    font-weight: 500;
    color: #5f5f5f;
    text-align: center;
    margin-bottom: 20px;
  }

  .input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #cbcbcb;
    margin-bottom: 12px;
    padding: 12px;
  }

  .forgot-pwd {
    display: inline-block;
    text-decoration: underline;
    color: #5f5f5f;
  }

  .remember-me {
    float: right;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;

    label {
      margin: 0 8px;
    }
  }

  .sign-in-button {
    width: 100%;
    height: 42px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    background: none;
    outline: none;
    border-radius: 5px;
    background-color: #0e5b2c;
    border: none;
    margin: 12px 0;
  }

  .sign-up {
    text-align: center;
    font-size: 14px;
    font-weight: 500;

    a {
      font-weight: bold;
      color: #0e5b2c;
    }
  }
}
