@media only screen and (max-width: 1250px) {
  #navbar {
    width: 100% !important;
  }
}

.dash-nav {
  padding: 45px;
  position: relative;
  height: 100%;
  padding-top: 20px;
  @media only screen and (max-width: 1250px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 0;
    background-color: white;
  }

  &.nav-toggled {
    padding-left: 50px;
    padding-right: 35px;
  }

  .logo {
    margin-bottom: 20px;
  }

  .user {
    text-align: center;
  }

  .points-ring {
    position: relative;

    svg {
      width: 200px;
      height: 200px;
      z-index: 4;
      position: relative;
    }

    circle {
      fill: transparent;
      stroke-width: 4px;
      transform-origin: 50% 50%;
      transform: rotate(-86deg);
      transform-origin: 49% 51%;

      &.user-points {
        stroke-dasharray: 240;
        stroke-dashoffset: 240;
        stroke-linecap: round;
      }
    }

    .seed-image {
      position: absolute;
      top: 0;
      left: -2px;
      right: 0;
      margin: auto;
      vertical-align: middle;
      top: 0;
      bottom: 0;
    }
  }

  .level {
    font-size: 14px;
    font-weight: 500;
    color: #5f5f5f;
    margin-right: auto;

    &:not(.name) {
      margin-top: -24px;
    }
  }

  .username {
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    margin-bottom: 46px;
    margin-right: auto;
  }

  .navbar-nav {
    width: 130px;
  }

  .nav {
    margin-left: -15px;
  }

  .nav-link {
    font-size: 14px;
    font-weight: 600;
    color: #5f5f5f;
    display: table-cell;
    vertical-align: middle;
  }

  .nav-item {
    height: 56px;
    display: table;
    margin-left: -51px;
    padding-left: 15px;
    position: relative;

    &.active {
      background-color: #fafafa;
      width: 260px;
      margin-right: -135px;
    }

    &.log-out {
      border-top: solid 1px #dcdcdc;
      width: 245px;
      text-align: center;
      position: absolute;
      @media only screen and (max-width: 1250px) {
        position: relative;
      }
      bottom: 0;
      height: 70px;
      display: flex;
      padding-left: 0;

      a {
        font-size: 14px;
        font-weight: 500;
        color: #5f5f5f;
        text-decoration: none;
        margin: auto;
      }
    }
  }

  .reflections-bubble {
    position: absolute;
    top: 18px;
    left: 109px;
    width: 15px;
    height: 15px;
    background-color: #d8d8d8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5f5f5f;
    font-size: 10px;
  }
}

.top-nav {
  justify-content: flex-end;
  padding: 20px 30px;
  display: flex;
  width: 100px;
  position: absolute;
  right: 0;

  .nav-button {
    width: 30px;
    height: 30px;
    border: solid 1px #e9e9e9;
    background-color: #fafafa;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    position: relative;

    &.profile {
      font-size: 11px;
      font-weight: 500;
      color: #0e5b2c;
      border: solid 1px #0e5b2c;
    }

    &:hover {
      border: solid 1px #0e5b2c;
      background-color: #eeeeee;
    }
  }

  .notification-alert {
    width: 15px;
    height: 15px;
    background-color: #d0021b;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    right: -1px;
  }
}

.notifications-dropdown {
  width: 434px;
  max-height: 406px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.24), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  overflow-y: auto;
  padding: 12px;

  .heading {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #757575;
  }

  &::-webkit-scrollbar {
    width: 6px;
    margin-right: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background: #d8d8d8;
    border-radius: 3px;
  }

  .no-notifications {
    font-size: 14px;
    text-align: center;
  }

  .notifications-wrapper {
    width: 432px;
    background-color: gray;
    margin-left: -12px;
    margin-bottom: -11px;
    padding: 5px 0;
    background-color: #fafafa;
  }

  .notification {
    width: 400px;
    border-radius: 4px;
    border: solid 1px #d3d3d3;
    font-size: 14px;
    font-weight: 500;
    color: #5f5f5f;
    margin: 17px auto;
    padding: 10px;
    position: relative;
    background-color: white;

    a {
      display: block;
      width: 364px;
    }

    .dismiss {
      width: 23px;
      height: 23px;
      border-radius: 50%;
      outline: 0;
      border: none;
      background: none;
      color: #979797;
      font-size: 15px;
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 2px;
      margin-top: 4px;

      &:hover {
        background-color: #d8d8d8;
      }
    }
  }
}

.feedback-dropdown {
  width: 434px;
  min-height: 360px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.24), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  padding: 12px;

  .title {
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    margin-bottom: 8px;
  }

  .gray-background {
    width: 432px;
    height: 327px;
    background-color: #fafafa;
    margin-left: -12px;
    padding: 12px;
    margin-bottom: -12px;
  }

  .subtitle {
    font-size: 14px;
    font-weight: 600;
    color: #5f5f5f;
  }

  .feedback-input {
    width: 410px;
    height: 189px;
    border-radius: 9px;
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.15), inset 0 2px 10px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    font-size: 14px;
    color: #5f5f5f;
    outline: none;
    padding: 12px;
  }

  .confirmation {
    font-size: 11px;
    font-weight: 500;
    color: #417505;
    text-align: center;
    display: none;
  }

  button {
    width: 145px;
    height: 42px;
    border-radius: 5px;
    border: solid 2px #0e5b2c;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #0e5b2c;
    background-color: white;
    outline: none;
    margin-left: 31%;
    position: absolute;
    bottom: 25px;
  }
}

.profile-dropdown {
  min-width: 129px;
  height: 126px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.24), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  padding: 0;

  a {
    font-size: 14px;
    font-weight: 500;
    color: #5f5f5f;
    display: flex;
    align-items: center;
    height: 40px;
    text-decoration: none;
    justify-content: space-around;
    cursor: pointer;

    &:hover {
      background-color: #fafafa;
    }
  }
}
// landing page navbar

.default.navbar {
  background: transparent;
  padding-left: 15%;
  padding-right: 15%;
}

.about-team {
  font-family: Raleway;
  font-size: 1.3em;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;

  .about-team-item {
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: #0f5b2c;
  }
}
// .navbarList {
//   font-size: 21px;
//   line-height: 2em;
//   margin: 0 auto;
//   text-transform: uppercase;
//   text-align: left;
//   right: 0;
//   left: 0;
//   width: 100%;
//   padding: 0;
//   z-index: 100;
// }
//
// .navbarList li {
//   display: inline-block;
//   list-style: outside none none;
//   position: relative;
//   margin: 0.5em 0.6em;
//   padding: 12px 15px;
// }
//
// .navbarList li a {
//   color: #fff;
//   text-decoration: none;
// }
//
// .navbarList li a:hover {
//   text-decoration: underline overline;
// }
