.points-earned-popup {
  .confetti-canvas {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .modal-content {
    width: 550px;
    height: 340px;
    border-radius: 17px;
    background-color: #ffffff;
    margin: auto;
    text-align: center;
  }

  .modal-body {
    padding: 2rem;
  }

  .heading {
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 1.4px;
    text-align: center;
    color: #ffd106;
  }

  .message {
    font-size: 13px;
    line-height: 1.38;
    letter-spacing: 1.36px;
    font-weight: bold;
    text-align: center;
    color: #534a4a;
    margin: auto;
    width: 70%;
  }

  .points {
    font-size: 18px;
    font-weight: bold;
    line-height: 0.44;
    letter-spacing: normal;
    text-align: center;
    color: #ffd106;
    margin-top: 20px;
    margin-bottom: -10px;
  }

  .points-ring {
    position: relative;

    svg {
      width: 200px;
      height: 200px;
      z-index: 4;
      position: relative;
    }

    circle {
      fill: transparent;
      stroke-width: 4px;
      transform-origin: 50% 50%;
      transform: rotate(-86deg);
      transform-origin: 49% 51%;

      &.user-points {
        stroke-dasharray: 240;
        stroke-dashoffset: 240;
        stroke-linecap: round;
      }
    }

    .seed-image {
      position: absolute;
      top: 0;
      left: -2px;
      right: 0;
      margin: auto;
      vertical-align: middle;
      top: 0;
      bottom: 0;
    }
  }
}
