// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dot {
  background-color: #92b584;
  vertical-align: middle;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
}

.i {
  text-align: center;
  font-size: 11.5px;
  color: #ffffff;
  padding-left: 6px;
  display: table-cell;
}
