.sign-up-page {
  min-height: 900px;

  .sign-up-box {
    width: 382px;
    margin: auto;
  }

  .header {
    font-size: 24px;
    color: #5f5f5f;
    text-align: center;
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    color: #757575;
  }

  .input {
    width: 382px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #cbcbcb;
    background-color: #ffffff;
    margin-bottom: 8px;
    padding: 12px;
  }

  .section {
    margin-bottom: 16px;
  }
}

.forgot-pwd-page {
  min-height: 600px;

  .forgot-pwd-box {
    width: 500px;
    border-radius: 13px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.21), 0 2px 10px 0 rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
    padding: 20px 60px;
    margin: auto;
  }

  .heading {
    font-size: 24px;
    color: #5f5f5f;
    text-align: center;
    margin-bottom: 20px;
  }

  .message {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: #5f5f5f;
    margin-bottom: 12px;
  }

  .input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #cbcbcb;
    background-color: #ffffff;
    margin-bottom: 8px;
    padding: 12px;
  }

  .confirmation {
    display: none;
    font-size: 14px;
    color: #0e5b2c;
    text-align: center;
  }

}
