.error-msg {
  display: none;
  color: red;
  font-size: 13px;
  margin-top: -5px;
}

.field_with_errors + .error-msg {
  display: block;
}

.sign-up-page {
  min-height: 900px;
  background-color: #fafafa;

  .sign-up-box {
    width: 382px;
    margin: auto;
  }

  .header {
    font-size: 24px;
    color: #5f5f5f;
    text-align: center;
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    color: #757575;
  }

  .input {
    width: 382px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #cbcbcb;
    background-color: #ffffff;
    margin-bottom: 8px;
    padding: 9px;
  }

  .field_with_errors {
    input {
      border: solid 1px red;
    }
  }

  .conditions {
    font-size: 12px;
    font-style: italic;
    color: #757575;
    text-align: center;
    margin-bottom: 0;
  }

  .section {
    margin-bottom: 16px;
  }
}

.forgot-pwd-page {
  min-height: 600px;

  .forgot-pwd-box {
    width: 500px;
    border-radius: 13px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.21), 0 2px 10px 0 rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
    padding: 20px 60px;
    margin: auto;
  }

  .heading {
    font-size: 24px;
    color: #5f5f5f;
    text-align: center;
    margin-bottom: 20px;
  }

  .message {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: #5f5f5f;
    margin-bottom: 12px;
  }

  .input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #cbcbcb;
    background-color: #ffffff;
    margin-bottom: 8px;
    padding: 12px;
  }

  .confirmation {
    display: none;
    font-size: 14px;
    color: #0e5b2c;
    text-align: center;
  }
}

.unsubscribe {
  text-align: center;
  max-width: 38%;
  padding-top: 45px;
  padding-bottom: 150px;

  .reason {
    text-align: left;
    margin: 20px;
  }

  h3 {
    text-align: left;
    font-size: 20px;
  }

  input[type="checkbox"] {
    margin-right: 5px;
  }

  .submit {
    background: none;
    border: none;
    background-color: #105b2f;
    color: white;
    height: 35px;
    border-radius: 10px;
    margin-top: 10px;
  }

  .confirm {
    font-size: 15px;
    margin-top: 4px;
    display: none;
  }

  .we-hear {
    margin-top: 20px;
  }

  .arrow {
    transform: rotate(90deg);
    margin: 20px;
  }

  .icon {
    padding: 5px;
  }
}

.resubscribe {
  padding-top: 45px;
  padding-bottom: 200px;
}
