// Place all the styles related to the Themes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.themesPage {
  text-align: center;
}

.themesRow {
  width: 1200px;
  margin: 25px auto;
  margin-bottom: 95px;
}

.theme {
  width: 199px;
  height: 198px;
  margin-top: 20px;
  margin-right: 35px;
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
  position: relative;
  box-shadow: 5px 5px 6px 0 #9f9f9f;
  border-radius: 50%;
  .theme-name {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #4a4a4a;
    margin-top: 20px;
  }
  .icon-box {
    height: 135px;
    width: 135px;
    border-radius: 50%;
    position: relative;
    margin-top: -232px;
    margin-left: 33px;
    .icon {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  // .hidden {
  //   display: none;
  // }
  .completed-ring {
    position: absolute;
    top: 0;
    .ring {
      position: absolute;
      top: 0;
      &._1, &._2 {
        margin-left: 102px;
      }
      &._3 {
        margin-left: 85px;
        margin-top: 1px;
      }
      &._4 {
        margin-left: 14px;
      }
      &._5 {
        margin-left: -29px;
      }
      &._6 {
        margin-top: -25px;
        margin-left: -29px;
      }
    }
  }
}
.thumbnail {
  position: relative;
  cursor: pointer;
}

.caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 200px;
  opacity: 0;
  transition: .5s ease;
  background-color: #717272;
}

.thumbnail:hover .overlay{
  opacity: 1;
}

.overlayText {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.themesHelpText, .helpText, .modalHeader {
  margin-bottom: 20px;
}

.themes-title {
  font-size: 45px;
  font-weight: bold;
  color: #464646;
  margin-top: 42px;
  text-align: left;
  margin-left: 280px;
  margin-bottom: 22px;
}

.helpText, .modalHeader, .themeVideo {
  color: #4f5151;
}

.helpText {
  font-size: 27px;
  text-align: center;
  color: #4a4a4a;
}

.themes-help-text {
  margin-left: 280px;
  text-align: left;
  font-size: 30px;
  font-weight: 500;
  color: #777777;
}

.modal-dialog {
  max-width: none;
  margin: 1.75em 15%;
}

#challenge-modal {
  .modal-body, .modal-content {
    iframe#video {
      margin-top: 0px;
    }
    .helpText {
      font-size: 28px;
      line-height: 1.64;
      letter-spacing: -0.2px;
      .description {
        font-weight: 500;
      }
      .watchVideoText {
        font-weight: bold;
      }
    }
  }
  .modal-body {
    margin: 100px 117px;
    span {
      color: inherit;
    }
  }
  .modal-content {
    width: 1078px;
    height: 778px;
    border-radius: 4px;
    box-shadow: 2px 2px 14px 0 rgba(0, 0, 0, 0.5);
    background-color: #f9f9f9;
    display: inline-block;
    margin: auto;
  }
  h2.modalHeader {
    font-size: 60px;
    font-weight: 900;
    letter-spacing: -0.24px;
    text-align: center;
    margin-bottom: 28px;
    white-space: nowrap;
  }
  .modal-close {
    margin-right: 40px;
    margin-top: 38px;
    float: right;
    line-height: 1;
  }
  button.close {
    opacity: 1;
  }
  .watchVideo {
    text-align: center;
  }
  .slide {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    &.first {
      margin-top: 10px;
      // auto spacing for first slide of challenge unlock pop-up
      display: flex;
      flex-direction: column;
      height: 560px;
      justify-content: space-around;
    }
    &.second {
      text-align: center;
      margin-top: -20px;
    }
    &.second, &.third {
      display:none;
    }
    &.third {
      .create-change-text {
        font-size: 26px;
        font-weight: bold;
        letter-spacing: -0.2px;
        margin-top: 6px;
      }

      .create-change-button {
          background-color: #87b67b;
          border-radius: 12px;
          width: 232px;
          height: 53px;
          margin-top: 45px;
          border: none;
      }
    }
    .watchVideo button {
      background-color: #87b67b;
    	color: inherit;
      height: 53px;
      width: 232px;
    	border: none;
      margin-top: 20px;
      font-size: 28px;
      text-align: center;
      font-weight: 900;
      border-radius: 10px;
    }
  }
}
.challenge-unlock {
  .cool {
    font-family: Raleway;
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: -0.2px;
    text-align: center;
    color: #4f5151;
  }
  .greatjob {
    font-weight:900;
  }
  #check {
    fill: none;
    stroke: #be1d2c;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dasharray: 180;
    stroke-dashoffset: 180;
    -webkit-animation: draw 2s ease;
    animation: draw 2s ease;
    animation-fill-mode: forwards;
  }
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .fadeIn {
    -webkit-animation-name: fadeIn 1s 1s ease;
    animation: fadeIn 1s 1s ease;
    animation-fill-mode: forwards;
    font-family: Raleway;
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: -0.2px;
    text-align: center;
    color: #4f5151;
  }
}
.theme-locked-background {
  text-align: left;
  background: lightgray;
  overflow: hidden;
  width: 196px;
  height: 196px;
  border-radius: 25px;
  opacity: 0.8;
  position: absolute;
  top: 0;
}

img.theme-locked-icon {
    position: absolute;
    top: 0;
    left: 0;
    margin: 7px;
    margin-top: 13px;
}

.overlay.current_challenges_overlay {
    background-color: rgba(0, 0, 0, 0.1);
}
.challenge-name-text {
    font-size: 25px;
}

.check-img {
    margin-top: 17px;
}
