// Place all the styles related to the Themes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.themesPage {
  margin: 50px 0;
  color: black;
  text-align: center;
}

.themesRow {
  width: 1200px;
  margin: 25px auto;
}

.theme {
  margin: auto;
}

.thumbnail {
  position: relative;
  cursor: pointer;
}

.caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 200px;
  opacity: 0;
  transition: .5s ease;
  background-color: #717272;
}

.thumbnail:hover .overlay{
  opacity: 1;
}

.overlayText {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.themesTitle, .themesHelpText, .helpText, .modalHeader {
  margin-bottom: 20px;
}

.helpText, .modalHeader, .themeVideo {
  color: #fff;
}

.helpText, .themesHelpText {
  font-size: 15px;
}

.modal-dialog {
  max-width: none;
  margin: 1.75em 15%;
}

#challenge-modal {
  .modal-body, .modal-content {
    border-radius: 40px;
    iframe#video {
      margin-top: -7px;
    }
    .helpText {
      margin: 12px;
      margin-top: 30px;
    }
  }
  .modal-content {
    height: 400px;
    background-color: #90b582;
    padding: 70px 0;
    text-align: center;
    width: 900px;
    margin: auto;
  }
  h1.modalHeader {
    font-weight: bold;
    font-size: 40px;
  }
  .modal-close {
    margin-right: 23px;
    margin-top: -50px;
    margin-bottom: 11px;
  }
  button.close {
    font-size: 41px;
    span {
      color: white;
    }
  }
  .slide {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    &.first {
      margin-top: 17px;
    }
    &.second, &.third {
      display:none;
    }
    &.third {
      margin-top: -49px;
    }
    .arrow button {
      background: none;
    	color: inherit;
    	border: none;
    	padding: 0;
    	font: inherit;
    	cursor: pointer;
    	outline: inherit;
      margin-top: 20px;
    }
  }
}
.challenge-unlock {
  .cool {
    font-size: 35px;
    opacity: 0;
  }
  .checkbox {
    height: 110px;
    width: 110px;
    background-color: white;
    margin: 27px auto;
    border: 10px solid #808285;
    border-radius: 26px;
  }
  #check {
    fill: none;
    stroke: #be1d2c;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dasharray: 180;
    stroke-dashoffset: 180;
    -webkit-animation: draw 2s ease;
    animation: draw 2s ease;
    animation-fill-mode: forwards;
  }
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .fadeIn {
    -webkit-animation-name: fadeIn 1s 1s ease;
    animation: fadeIn 1s 1s ease;
    animation-fill-mode: forwards;
  }
}
.theme-locked-background {
  text-align: left;
  background: lightgray;
  overflow: hidden;
  width: 196px;
  height: 196px;
  border-radius: 25px;
  opacity: 0.8;
  position: absolute;
  top: 0;
}

img.theme-locked-icon {
    position: absolute;
    top: 0;
    left: 0;
    margin: 7px;
    margin-top: 13px;
}

.overlay.current_challenges_overlay {
    background-color: rgba(0, 0, 0, 0.1);
}
.challenge-name-text {
    font-size: 25px;
}
