.field_with_errors {
  display: inline;
}

.dashboard {
  margin: auto;
  width: 75%;
  padding-bottom: 50px;

  .level {
    margin-bottom: 28px;

    .title {
      font-size: 24px;
      font-weight: 500;
      color: #5f5f5f;
    }

    .level-content {
      width: 940px;
      height: 281px;
      border-radius: 18px;
      border: solid 1px #e9e9e9;
      background-color: #ffffff;
      text-align: center;
      display: table-cell;
      vertical-align: middle;

      .branding {
        display: inline-block;
        width: 212px;
        height: 149px;
        border: solid 1px #979797;
        margin-right: 20px;
        margin-bottom: 20px;
      }

      .info {
        display: inline-block;
        width: 240px;
        text-align: left;
        vertical-align: top;

        .heading {
          font-size: 14px;
          font-weight: 600;
          color: #5f5f5f;
        }

        .name {
          font-size: 20px;
          font-weight: 600;
          color: #5f5f5f;
        }

        .learn-more {
          font-size: 14px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #5f5f5f;
        }
      }

      .progress {
        width: 731px;
        height: 29px;
        border-radius: 9px;
        box-shadow: inset 0 1px 10px 0 rgba(0, 0, 0, 0.06), inset 0 3px 10px 0 rgba(0, 0, 0, 0.06);
        background-color: #fafafa;
        margin: auto;
        overflow: visible;
        position: relative;

        .progress-bar {
          border-radius: 10px;
          background-color: #d8d8d8;
        }

        .marker-container {
          width: 765px;
          position: absolute;
          left: 0;
          margin-top: 30px;
          text-align: left;
        }

        .marker {
          position: relative;
          display: inline-block;

          .label {
            font-size: 12px;
            font-weight: 500;
            color: #5f5f5f;
            position: absolute;
          }
        }
      }

      .box {
        display: inline-block;
        text-align: center;
        position: relative;
        font-size: 12px;
        font-weight: 500;
        color: #5f5f5f;

        &.start {
          left: -351px;
        }

        &.end {
          left: 353px;
        }
      }
    }
  }

  .current-challenges {
    .heading {
      font-size: 24px;
      font-weight: 500;
      color: #5f5f5f;
    }

    .content {
      width: 940px;
      height: 368px;
      border-radius: 18px;
      border: solid 1px #e9e9e9;
      background-color: #ffffff;

      .challenge-content,
      .tabs {
        display: inline-block;
      }

      .tabs {
        width: 182px;
        background-color: #f0f1f2;
        height: 100%;

        .nav-link {
          font-size: 14px;
          font-weight: 600;
          text-align: right;
          color: #5f5f5f;
          height: 61px;
          border-radius: 18px 0 0 18px;
          display: table;
          width: 100%;

          span {
            display: table-cell;
            vertical-align: middle;
          }

          &.active {
            background-color: #ffffff;
          }
        }
      }

      .challenge-content {
        padding: 30px;
        vertical-align: top;
        max-height: 100%;

        .col-9 {
          height: 300px !important;
        }

        .date {
          text-align: center;
          margin-bottom: 38px;

          .month {
            font-size: 20px;
            font-weight: 600;
            color: $brand-color;
          }

          .day {
            font-size: 95px;
            font-weight: normal;
            color: $brand-color;
            margin-top: -18px;
            line-height: 71px;
          }
        }

        .log-question {
          .heading {
            font-size: 14px;
            color: #5f5f5f;
            font-weight: 500;
          }

          .question {
            font-size: 14px;
            color: #5f5f5f;
            font-weight: 600;
            margin-bottom: 12px;
          }

          .log-input {
            width: 59px;
            height: 26px;
            border-radius: 3px;
            border: solid 1px #e4e4e4;
            background-color: #fafafa;
            display: block;
            margin: auto auto 16px;
          }

          button {
            width: 145px;
            height: 49px;
            border-radius: 5px;
            border: solid 2px #575757;
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            color: #5f5f5f;
            background-color: white;
          }
        }

        .marker {
          position: relative;
          display: inline-block;
          top: -55px;
          width: 10px;

          .label {
            font-size: 14px;
            font-weight: 500;
            color: $brand-color;
            position: absolute;
            left: -19px;
          }

          .line {
            top: 34px;
            stroke: $brand-color;
            stroke-width: 3px;
          }
        }

        .box {
          display: inline-block;
          text-align: center;
          width: 50px;
          position: relative;
          top: -27px;

          span {
            font-size: 12px;
            font-weight: 500;
            color: #757575;
          }

          h2 {
            font-size: 12px;
            color: #757575;
          }

          &.start {
            left: -10px;
          }

          &.end {
            left: 381px;
          }
        }
      }
    }
  }

  .global-impact {
    margin-top: 50px;

    h2 {
      font-size: 24px;
      font-weight: 500;
      color: #5f5f5f;
    }

    .global-impact-content {
      width: 940px;
      height: 207px;
      border-radius: 18px;
      border: solid 1px #e9e9e9;
      text-align: center;
      padding: 30px;
      background-color: #ffffff;

      .branding {
        display: inline-block;
        width: 188px;
        height: 140px;
        border: solid 1px #979797;
        background-color: #d8d8d8;
      }

      .coming-soon {
        vertical-align: top;
        display: inline-block;
        width: 196px;
        margin-left: 24px;
        text-align: left;

        h5 {
          font-size: 16px;
          font-weight: 500;
          color: #757575;
        }

        p {
          font-size: 14px;
          font-weight: 500;
          color: #5f5f5f;
          line-height: normal;
        }
      }
    }
  }
}

.metric-logged-popup {
  .modal-content {
    width: 400px;
    height: 203px;
    border-radius: 17px;
    background-color: #ffffff;
    margin: auto;
    text-align: center;
  }

  &.points {
    .modal-content {
      width: 600px !important;
      height: 400px !important;
    }

    .keep-it-up {
      font-size: 16px;
      font-weight: 500;
      color: #757575;
      margin: 20px 0;
    }

    .branding {
      width: 151px;
      height: 85px;
      border: solid 1px #979797;
      background-color: #d8d8d8;
      margin: auto auto 20px;
    }

    .progress {
      width: 466px;
      height: 19px;
      border-radius: 9px;
      box-shadow: inset 0 1px 10px 0 rgba(0, 0, 0, 0.06), inset 0 3px 10px 0 rgba(0, 0, 0, 0.06);
      background-color: #fafafa;
      margin: auto;
      overflow: visible;
      position: relative;

      .progress-bar {
        border-radius: 10px;
        background-color: #d8d8d8;
      }

      .marker-container {
        width: 765px;
        position: absolute;
        left: 0;
        margin-top: 30px;
        text-align: left;
      }

      .marker {
        position: relative;
        display: inline-block;

        .label {
          font-size: 12px;
          font-weight: 500;
          color: #5f5f5f;
          position: absolute;
        }
      }
    }

    .box {
      display: inline-block;
      text-align: center;
      position: relative;
      font-size: 12px;
      font-weight: 500;
      color: #5f5f5f;

      &.start {
        left: -219px;
      }

      &.end {
        left: 219px;
      }
    }
  }

  .modal-body {
    padding: 2rem;
  }

  .heading {
    font-size: 20px;
    font-weight: 600;
    color: #5f5f5f;
  }

  .message {
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    margin: 20px 0;
  }

  .metric {
    font-size: 14px;
    font-weight: 500;
    color: #5f5f5f;

    span {
      font-weight: 600;
    }
  }
}

.challenge_added_popover {
  border: 4px solid #80a870;
  max-width: 243px;
  border-radius: 16px;
  font-size: 16px;
  position: fixed !important;
  left: 10px !important;
  transform: none !important;

  > .arrow {
    left: 28px !important;
  }

  .close {
    margin-right: -1px;
    margin-top: -6px;
    font-size: 22px;
    color: #808285;
    cursor: pointer;
  }

  .popover-body {
    color: #808285 !important;
  }
}

.bs-popover-left {
  border: 4px solid #80a870;
  max-width: 200px;
  border-radius: 16px;
  font-size: 16px;
  top: -25px !important;

  > .arrow {
    top: 69px !important;
  }

  &.no_challenge_popover {
    top: 18px !important;

    > .arrow {
      top: 16px !important;
    }
  }

  .close {
    margin-right: 7px;
    margin-top: 2px;
    font-size: 22px;
    color: #808285;
  }

  .popover-body {
    color: #808285 !important;
  }

  .arrow::before {
    border-left-color: white;
  }

  .border-arrow.arrow::after {
    top: 0 !important;
    border-left-color: #80a870;
    right: -3px;
    z-index: -1;
    height: 10px;
  }

  .border-arrow.arrow {
    right: -8px;
  }
}

.current_challenges_box {
  border-radius: 25px;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-right: 35px;
  box-shadow: 8px 12px #7f8083;
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
  border: 2px solid #80a870;

  &.new_challenge {
    color: white;
    background-color: #bfc0c1;
    font-size: 24px;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: center;
  }

  &.last {
    margin-right: 0;
  }
}

.current_challenges_overlay {
  border-radius: 25px;
  height: 196px;
  width: 196px;

  > .overlayText {
    color: black;
  }
}

.dropdown {
  .dropdownMenuButton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
}

.dropdown-menu {
  top: 80px;
  font-size: 20px;
}

.settings {
  margin: auto;
  padding-bottom: 50px;

  h2.settings-title {
    font-size: 45px;
    font-weight: bold;
    color: #464646;
    margin-bottom: 37px;
    margin-left: 90px;
  }

  .settings-tabs {
    li {
      font-size: 30px;
      font-weight: 500;

      a {
        display: block;
        height: 60px;
        width: 268px;
        text-align: center;
        color: #384632 !important;
        border-radius: 6px;

        &:hover {
          text-decoration: none;
        }

        &.active {
          border-bottom: solid 6px #87b67b;
        }
      }
    }
  }

  .separator {
    width: 1070px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #979797;
    margin-top: inherit;
  }

  .tab-content {
    .tab-pane {
      width: 600px;
      margin: 42px auto auto;
    }

    #profile {
      .user-name {
        font-size: 28px;
        font-weight: 600;
        color: #384632;
        margin-bottom: 20px;
      }

      #user_email {
        margin-bottom: 43px;
        width: 395px;

        &:invalid {
          border: solid 2px #d13838;
        }
      }

      .verify-email {
        font-size: 20px;
        font-weight: 600;
        color: #517e3d;
        text-decoration: underline;
        margin-left: 184px;
        cursor: pointer;
      }

      label.country,
      label.state {
        width: 78px;
        text-align: right;
        font-size: 18px;
        font-weight: 600;
        color: #777777;
        margin-right: 18px;
      }

      #user_state {
        margin-bottom: 31px;
      }

      #user_country,
      #user_state {
        width: 293px;
      }
    }

    #account {
      .panel-default {
        width: 523px;
        height: 100%;
        border-bottom: solid 1px #979797;
        padding-bottom: 40.5px;
        padding-top: 41.5px;
        display: inline-block;
        position: relative;
        cursor: pointer;

        .expand-clickable-area {
          width: 523px;
          position: absolute;
          top: 0;
          bottom: 0;
          height: 100px;
        }

        .panel-heading {
          .panel-title {
            font-size: 28px;
            font-weight: 600;
            color: #384632;
            display: inline-block;
          }

          .show-hidden {
            background: none;
            border: none;
            object-fit: contain;
            float: right;
            outline: 0;
            margin-top: 13px;
          }
        }

        #password {
          margin-top: 19px;

          label {
            text-align: right;
            width: 154px;
            height: 21px;
            font-size: 18px;
            font-weight: 500;
            color: #777777;
          }

          .inputField {
            width: 277px;
            margin-left: 30px;
          }

          .field {
            margin-left: 30px;
          }

          .actions {
            max-width: 219px;
            margin: 34px 30px 0 auto;
          }

          .save-changes-button {
            width: 219px;
          }

          .field_with_errors {
            > #user_password,
            > #user_password_confirmation {
              border-radius: 5px;
              border: solid 2px #dc6666;
            }

            + .confirm.error,
            + .password.error {
              display: block !important;
            }
          }

          .error {
            .error-icon,
            .message {
              top: -20px;
              left: 189px;
            }
          }
        }

        #devices {
          .field {
            margin-left: 60px;
            display: inline-block;
          }

          .actions {
            max-width: 181px;
            margin: 34px auto 0;
          }

          .save-changes-button {
            width: 119px;
          }
        }

        #deactivate a {
          width: 187px;
          height: 24px;
          font-size: 20px;
          font-weight: 600;
          color: #808080;
        }

        .deactivate {
          text-align: center;
        }

        p {
          width: 466px;
          margin: 25px auto;
        }
      }
    }

    #privacy {
      div {
        margin-bottom: 37px;
      }

      h2 {
        font-size: 28px;
        font-weight: 600;
        color: #384632;
        margin-bottom: 20px;
      }

      label {
        margin-left: 20px;
        vertical-align: top;
        margin-top: -4px;
      }

      p {
        font-size: 12px;
        font-weight: 500;
        line-height: normal;
        color: #384632;
        width: 457px;
        margin-left: 39px;
      }

      .more-info {
        font-weight: 500;
        color: #384632;
        margin-bottom: 23px;
      }
    }

    #notifications {
      color: #384632;

      .title {
        font-size: 28px;
        font-weight: 600;
      }

      .notifications-label {
        font-family: Raleway;
        font-size: 20px;
        font-weight: 500;
      }

      .notifications-select {
        width: 277px;
        margin-top: 16px;
        margin-bottom: 37px;
      }

      .content-heading {
        font-size: 28px;
        font-weight: 600;
      }

      .send-label {
        font-size: 20px;
        font-weight: 500;
      }

      .ContentList {
        margin-top: 16px;
        width: 334px;
        height: 110px;
        margin-bottom: 42px;

        .options {
          font-size: 20px;
          font-weight: 500;
          margin-left: 18px;
        }
      }
    }

    label {
      font-size: 20px;
      font-weight: 600;
      color: #384632;
    }
  }

  .save-changes-button {
    width: 181px;
    height: 65px;
    border-radius: 7px;
    border: solid 3px #87b67b;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    color: #384632;

    &:disabled {
      border: solid 3px #cacaca;
    }
  }

  .inputField {
    border-radius: 5px;
    border: solid 1px #787878;
    height: 48px;
  }
}

.error {
  .error-icon {
    width: 15px;
    height: 15px;
    background-color: #d13838;
    border-radius: 50%;
    font-size: 13px;
    text-align: center;
    line-height: 15px;
    color: #ffffff;
    padding-left: 1px;
    position: relative;
    top: -41px;
    display: inline-block;

    &::before {
      content: "!";
    }
  }

  .message {
    display: inline-block;
    position: relative;
    top: -41px;
    font-size: 12px;
    color: #d13838;
    margin-left: 6px;
  }
}

.changes-saved-popup {
  .modal-dialog {
    padding-top: 7%;
  }

  .modal-content {
    width: 459px;
    border-radius: 10px;
    border: solid 1px #979797;
    background-color: #ffffff;
    margin: auto;

    .modal-body {
      text-align: center;

      .close {
        font-size: 38px;
        position: absolute;
        top: 25px;
        right: 25px;
      }

      .heading {
        font-size: 35px;
        font-weight: 600;
        color: #384632;
        margin-top: 37px;
      }

      .message {
        font-size: 30px;
        font-weight: 500;
        color: #777777;
        width: 300px;
        margin: 35px auto;
      }

      .branding {
        width: 200px;
        height: 200px;
        border: solid 1px #979797;
        border-radius: 50%;
        margin: 41px auto 28px;

        &.filler {
          background-color: #d8d8d8;
        }
      }
    }
  }
}

.account-deactivate-popup {
  .modal-dialog {
    padding-top: 7%;
  }

  .modal-content {
    width: 788px;
    height: 587px;
    border-radius: 25px;
    margin: auto;
    padding-left: 45px;
    padding-top: 26px;
  }

  .modal-body {
    .close {
      font-size: 29px;
      position: absolute;
      top: 18px;
      right: 40px;
    }

    .heading {
      font-size: 35px;
      font-weight: 600;
      color: #384632;
      margin-bottom: 26px;
    }

    .warning {
      font-size: 20px;
      font-weight: 600;
      color: #808080;
      margin-bottom: 39px;
    }

    .deactivate-reasons-form {
      text-align: center;

      form {
        font-size: 20px;
        font-weight: 500;
        color: #384632;
        margin: auto;
        display: inline-block;
        text-align: left;

        .option {
          margin-left: 10px;
        }

        textarea {
          width: 406px;
          height: 110px;
          border-radius: 7px;
          border: solid 1px #979797;
          margin-left: 30px;
        }

        .deactivate.error {
          margin-left: 30px;

          .error-icon {
            top: -11px;
          }

          .message {
            top: -11px;
          }
        }

        .next {
          width: 119px;
          margin-top: 22px;
          margin-left: 73%;
        }
      }
    }

    .second.slide {
      position: absolute;
      top: 80px;

      #additional-textarea {
        width: 685px;
        height: 152px;
        border-radius: 7px;
        border: solid 1px #979797;
        background-color: #ffffff;
        font-size: 20px;
        font-style: italic;
        line-height: normal;
        color: #989898;
        padding: 10px;
        margin-top: 10px;
      }

      #deactivate-button {
        margin-left: 33%;
        margin-top: 10%;
      }
    }
  }
}

#verify-email {
  .heading {
    font-size: 25px;
  }

  .save-changes-button {
    margin-top: 26px;
  }

  .confirm-sent {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #777777;
    margin-top: 23px;

    .email {
      font-weight: 600;
      color: inherit;
    }
  }
}
