// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

.navbar {
  background-color: #7FA86F;
  color: white;
}
.navbar-nav.navbar-right li:not(:first-child):before{
  content: " | ";
  white-space: pre;
}

.dashboard {
  margin: auto;
  width: 75%;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-x: scroll;
}

.global_impact_content {
  background-color: #d2caca;
  height: 220px;
}

.current_challenges {
  padding: 40px;
  margin-top: 30px;
  width: 1050px;
  border: 3px solid gray;
  border-radius: 30px;
}

.current_challenges_box {
  border-radius: 25px;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-right: 50px;
  box-shadow: 8px 12px #7f8083;
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
  border: 2px solid #80a870;
  // &.add_challenges {
  //   text-align: center;
  //   vertical-align: middle;
  //   line-height: 160px;
  //   span {font-size: 150px;}
  // }
  &.new_challenge {
    color: white;
    background-color: #bfc0c1;
    font-size: 30px;
    padding: 25px;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: center;
  }
  &.last {
    margin-right: 0px;
  }
}

.current_challenges_overlay {
  border-radius: 23px;
  height: 196px;
  width: 196px;
  > .overlayText {
    color: black;
  }
}

#dropdownMenuButton {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.settings {
  @extend .dashboard;
  padding-top: 15px;
  > div{
    display: inline-block;
    margin-left: 140px;
    vertical-align: top;
    margin-top: 30px;
  }
  .left-panel {
    text-align: center;
    #upload-photo-div {
      left: 64px;
    }
  }
  .save-button {
    border-radius: 20px;
    background-color: #80a870;
    border-color: #80a870;
    color: white;
  }
}

div.update-avatar.thumbnail {
    margin-top: 30px;
}

.settings form div {
  margin-bottom: -9px;
}

h2.user-name {
  margin-top: 10px;
}

h2.settings-title {
    font-size: 50px;
}

.upload-wrap {
    position: relative;
}

.upload-btn {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
}

.upload-photo{
  .modal-body {
    background-color: white;
  }
  .modal-content {
    width: 450px;
    margin: auto;
  }
  #minus {
    position: absolute;
    top: 307px;
    font-size: 40px;
    left: 48px;
  }
  #plus {
    position: absolute;
    top: 311px;
    font-size: 40px;
    right: 49px;
  }
}
