$brand-color: #f0871e;

/* varela-regular - latin */
@font-face {
  font-family: 'Varela';
  font-style: normal;
  font-weight: 400;
  src: font-url('varela-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Varela'),
  font-url('varela-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  font-url('varela-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  font-url('varela-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
  font-url('varela-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  font-url('varela-v10-latin-regular.svg#Varela') format('svg'); /* Legacy iOS */
  unicode-range: U+30-39;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #111;
  font-family: Varela, Raleway, sans-serif;
}

h1 {
  font-size: 4vw;
  text-transform: uppercase;
}

h3 {
  text-align: center;
}

p {
  font-size: 21px;
}

button,
input {
  outline: none;
}

.main-content {
  padding-bottom: 3.125em;
  padding-top: 1.25em;
  background-color: #f0f1f2;
}

.landing-page {
  background-color: #fffaee;
  text-align: center;

  .border {
    border: solid 1px #979797;
  }

  .header {
    // Hacky fix for margin-top and padding-top for making the margin and padding look good
    // on the front page for computer views
    margin-top: -5em;
    padding-top: 9.688em;
    padding-bottom: 4.188em;
    background-image: image-url('landing-page.png');
    background-color: #fffaee;
    background-repeat: no-repeat;
    height: 82em;
    background-size: 100%;
    font-family: amaranth, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #0e5b2c;

    .hook {
      font-size: 2.5em;
      font-weight: bold;
    }

    .answer {
      font-size: 1.188em;
      margin-top: 0.75em;
      margin-bottom: 2.813em;
    }

    .button {
      width: 7.5em;
      height: 2.813em;
      font-size: 1.188em;
      font-weight: 500;
      border-radius: 0.625em;
      background-color: #0e5b2c;
      color: #ffffff;
      margin: auto;
      text-decoration: none;
      display: block;
      margin-bottom: 1.875em;
      line-height: 2.688em;
    }
  }

  .impacts {
    // padding-top: 71px;
    padding-bottom: 4.375em;

    .heading {
      font-size: 2.5em;
      font-weight: 500;
      margin-bottom: 6.875em;
    }

    .pictures {
      .picture {
        width: 12.5em;
        height: 12.5em;
        border: solid 1px #979797;
        background-color: #d8d8d8;
        display: inline-block;
        padding-top: 4%;
      }

      .picture + .picture {
        margin-left: 7.625em;
      }
    }
  }

  .about-us {
    color: #5f5f5f;
    background-color: #fffdfa;
    padding-top: 4.375em;
    padding-bottom: 4.375em;
    display: flex;
    padding-left: 15%;
    padding-right: 15%;

    .heading {
      font-size: 2.5em;
      font-weight: 500;
      margin-bottom: 4.375em;
    }

    .about-text {
      font-size: 1.875em;
      font-weight: 500;
      width: 50%;
      margin: auto;
      text-align: left;
    }
  }

  .about-pic {
    margin: auto;
  }

  .about-img {
    width: 20.25em;
    height: 17.44em;
  }
}

.privacy-page {
  h4 {
    font-weight: bold;
  }
}

.impacts {
  color: #5f5f5f;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: 500;
  font-family: Raleway;
  display: inline-block;
  width: 60%;

  .impacts-heading {
    font-size: 1.875em;
    display: inline-block;
    margin-bottom: 1em;
  }

  .impacts-text {
    font-size: 1em;
    text-align: left;
  }
}

.resources-page {
  .heading {
    color: #78a84f;
  }

  .section-title {
    color: #e69138;
  }
}
