<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.name %>!</p>

    <p>You’ve got challenges in progress, so we’re just checking in. How are they going? Don’t forget to log your progress <a target="_blank" href=" <%= dashboard_url %> ">here</a>!</p>

    <ol>
      <% @user_incomplete_challenges.each do |challenge| %>
        <li>  <%= challenge.challenge_name %> (ends in <%= challenge.get_time_left %>)</li>
      <% end %>
    </ol>

    <p>Don’t ever hesitate to reach out to us about anything. Just reply to this email because we’re here for you!</p>

    <p>
      Cheering you on,<br>
      The Rootup team
    </p>

    <p>P.S. We’re testing out this email reminder feature, so let us know if you like these email reminders, if you’re getting too many emails from us, etc. (just reply to this email)</p>
  </body>
</html>
