<nav class="navbar navbar-expand-lg">
  <span class="navbar-brand" href="#">My Footprint App logo</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>My Footprint(search bar)</li>
    </ul>

    <ul class="navbar-nav navbar-right">
      <li>Tips</li>
      <li>221 pts</li>
      <li>profile pic</li>
    </ul>
  </div>
</nav>
