<nav class="navbar default">
  <a class="navbar-brand" href=" <%= root_path %>">
    <%= image_tag "rootup-logo.png", class: "logo" %>
  </a>
  <a href="navbar">about</a>
  <a href="team">team</a>
</nav>
