<div class="modal" id="moved-modal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <h2 class="heading">Hey! We've moved!</h2>
        <h5 class="subheading">Our new home is <a href="https://rootup.isupinthe.cloud/">rootup.isupinthe.cloud</a>!</h5>
        <button onclick="location.href='https://rootup.isupinthe.cloud/'">Take me there!</button>
      </div>
    </div>
</div>
<script>
$(document).ready(function () {
    $('#moved-modal').modal('show');
});
</script>
