<div class="modal" id="tutorial-popup" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="slide one">
        <h2 class="heading">welcome</h2>
        <h5 class="subheading">The environment is calling you to take action.<br>Let's get started!</h5>
        <div class="actions row justify-content-between">
          <button type="button" name="button" class="skip" onclick="$('#tutorial-popup').modal('hide')">skip</button>
          <button type="button" name="button" class="continue" onclick="tutoialSecondSlide()">continue</button>
        </div>
      </div>
      <div class="slide two">
        <div id="tutorial-carousel" class="carousel slide" data-interval="false">
          <ol class="carousel-indicators">
            <li data-target="#tutorial-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#tutorial-carousel" data-slide-to="1"></li>
            <li data-target="#tutorial-carousel" data-slide-to="2"></li>
            <li data-target="#tutorial-carousel" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h2 class="heading">start a challenge</h2>
              <p class="info">Click:<br>
                  a) "Challenges" tab on the nav bar, or<br>
                  b) "+" on "My Current Challenges" in your dashboard
              </p>
              <div class="placeholder">
                <%= video_tag 'tutorials/take-challenges.mov', size:"316x195", autoplay: true, loop: true, controls: true %>
              </div>
            </div>
            <div class="carousel-item">
              <h2 class="heading">learn, learn, learn, and then do</h2>
              <p class="info">Tap into a theme, and start a challenge that catches your attention.
                <br>(just choose 1-3 to try first)
                <br>Then go out and do your challenge(s)!
              </p>
              <div class="placeholder"></div>
            </div>
            <div class="carousel-item">
              <h2 class="heading">come back though</h2>
              <p class="info">Show off your impact by logging it in cause it's worth bragging about.
                <br>We also want to share your accomplishments and brag about you!
              </p>
              <div class="placeholder">
                <%= video_tag 'tutorials/log.mov', size:"316x195", autoplay: true, loop: true, controls: true %>
              </div>
            </div>
            <div class="carousel-item">
              <h2 class="heading">at the end of your challenges</h2>
              <p class="info">Reflect upon your experience and share with us!
                <br>Best part of rootup: hearing about what you've learned & how it's impacted you.
                <br>We'll organize the big show and tell</p>
              <div class="placeholder"></div>
            </div>
          </div>
          <a class="carousel-control-next" href="#tutorial-carousel" role="button" data-slide="next">
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="slide three">
        <h2 class="heading">here's your seed</h2>
        <p class="info">Let your seed remind you that every action matters(!) as it grows.
          <br>Be proud of what you do and continually challenge yourself to do more
        </p>
        <div class="placeholder"></div>
        <button type="button" name="button" class="start" onclick="$('#tutorial-popup').modal('hide')">start rootup</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#tutorial-popup').modal({'backdrop': 'static'})
  $('#tutorial-carousel').on('slid.bs.carousel', function () {
    if ($('.carousel-item.active').index() == 3) {
      $('.carousel-control-next').click(function () {
        $('.slide.two').hide()
        $('.slide.three').show()
        $('.modal-content').width(461)
      })
    }
  })
</script>
